@import "./menu";

.header {
    background-color: $blue ;
    // .header__title

    &__title {
        padding-top: 5px;
        text-decoration: none;
        text-transform: uppercase;
        color: $white;
        font-size: 24px;
        letter-spacing: 2.4px;
        margin: 0;
        font-weight: 700;
        font-family: $logo-font;
    }

    &__title:hover {
        color: $dark-gray;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.nav {
    width: 576px;
    padding-top: 10px;
}

.header__menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    &_link:hover {
        color: $dark-gray;
    }

    &_link {
        text-decoration: none;
        text-transform: uppercase;
        color: $white;
        font-family: $btn-font;
        font-size: 14px;
        letter-spacing: 1.4px;
    }

    &_item {
        position: relative;
    }

    &_item:hover {

        .submenu {
            opacity: 1;
            visibility: visible;
            pointer-events: all;

        }
    }
}
