$padding-link-menu: 15px;

.header {

    // .header__submenu

    &__submenu {
        @extend %ul-not-marker;
        top: 20px;
        background-color: rgba(83, 115, 253, .9);


        // .header__submenu_item

        &_item {

            padding: $padding-link-menu;
        }

        // .header__submenu_link

        &_link {
            color: $white;
            text-decoration: none;
        }

        &_link:hover {
            color: $dark-gray;
        }

    }

    // .header__menu

    &__menu {

        // .header__menu_link

        &_link {}
    }
}

.submenu {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .3s ease-in-out;
    padding-top: 25px;

    @include media(sm) {
        left: 200px;
        top: -75px;
    }
}
