.gallery {
    padding: 180px 0;

    @include media(lg) {
        padding: $res-lg-padding 0;
    }

    @include media(md) {
        padding: $res-lg-padding 0;
    }

    &__title {
        color: $color-steel-blue;
        text-align: center;
        font-size: 44px;
        font-weight: 700;
        margin: 0;
        padding-bottom: 90px;
        position: relative;

        @include media(lg) {
            padding-bottom: $res-lg-padding;
        }

        &::before {
            position: absolute;
            content: '';
            display: block;
            max-width: 100px;
            width: 100%;
            height: 1px;
            background-color: $color-steel-blue;

            top: -30px;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__btn {
        margin: 60px auto;
    }
}

.gallery-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, minmax(285px, 214px));

    @include media(lg) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, minmax(285px, 214px));
    }

    @include media(sm) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, minmax(285px, 214px));
    }

    &_advanced {
        grid-template-rows: repeat(4, minmax(285px, 214px));

        @include media(lg) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(7, minmax(285px, 214px));
        }

        @include media(sm) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(13, minmax(285px, 214px));
        }
    }

    &__gallery-item {
        position: relative;
        overflow: hidden;

        &:nth-child(1) {
            grid-column-end: span 2;
            grid-row-end: span 2;

            @include media(lg) {
                grid-row-end: span 1;
            }

            @include media(sm) {
                grid-column-end: span 1;
                grid-row-end: span 1;
            }
        }
    }
}

.gallery-item {
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }

    &__hidden-on {
        display: none;
    }
}
