.last-news {
    background: linear-gradient(237deg, #24CCFA 11.16%, #3C7FD4 89.18%);
    padding: 150px 0;
    line-height: normal;
    position: relative;

    @include media(lg) {
        padding: $res-lg-padding;
    }

    &::before {
        content: "";
        background: url('../images/painted-city2.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        opacity: 0.1;
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    &__item {
        position: relative;
        height: 100vh;
        display: flex !important;
        justify-content: center;
        align-items: center;

        &:nth-child(n+2) {
            display: none;
        }

        .slick-initialized & {
            &:nth-child(n+2) {
                display: block;
            }
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-image: linear-gradient(to right, rgba(85, 183, 255, 0.7), rgba(126, 90, 255, 0.7));
            z-index: 2;
        }
    }

    @include media(sm) {
        padding: 40px 0;
    }

    &__title {
        color: $color-white;
        text-align: center;
        font-size: 44px;
        font-weight: 700;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            max-width: 100px;
            width: 100%;
            height: 1px;
            background-color: $color-white;
            top: -30px;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.news-slider {
    width: calc(100% - 80px);
    margin: 0 auto;

    .slick-slide {
        background: none;
    }

    & .slick-slide {
        background: none;
    }

    & .slick-dots .slick-active {
        background-color: $color-white;
    }

    .slider-arrow {
        width: 40px;
        height: 40px;
        top: 45%;
        position: absolute;
        border-radius: 50%;
        border: 1px solid $color-white;
        background-color: transparent;
    }

    .prev-arrow {
        left: -40px;
        rotate: 90deg;
    }

    .next-arrow {
        right: -40px;
        rotate: -90deg;
    }

    .slick-dots {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: absolute;
        bottom: -50px;
        gap: 15px;

        li {
            height: 10px;
            width: 10px;
            list-style: none;
            margin: 20px 0;
            border-radius: 50%;

            button {
                font-size: 0;
                height: 10px;
                width: 10px;
                border-radius: 50%;
                border: 1px solid $color-white;
                border-color: $color-white;
                background-color: transparent;
                padding: 0;

                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: none;
                    width: 20px;
                    height: 20px;
                    font-family: "slick";
                    font-size: 6px;
                    line-height: 20px;
                    text-align: center;
                    color: transparent;
                    opacity: 0;
                    -webkit-font-smoothing: antialiased;
                }
            }
        }
    }

    &:not(.slick-initialized) {
        display: flex;

        .news-slider__item {
            width: 33.333%;
            z-index: 3;

            &:nth-child(n+4) {
                display: none;
            }
        }
    }

    &__item {
        padding: 15px;
        height: 100%;
    }

}

.news {
    background-color: #fff;

    &__img {
        aspect-ratio: 2/1.3;
        object-fit: cover;
    }

    &__description {
        padding: 30px 15px;
    }

    &__title {
        @include ellipsis(2);
        color: #2C4058;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 15px;

        @include media(sm) {
            font-size: 16px;
        }
    }

    &__text {
        @include ellipsis(2);
        margin-bottom: 40px;

        @include media(sm) {
            font-size: 14px;
        }
    }

    &__author {
        margin-top: auto;
    }
}

.news-author {
    display: flex;
    align-items: center;
    height: 70px;

    &__img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        object-fit: cover;
        object-position: center;
    }

    &__info {
        width: calc(100% - 60px);
        padding-left: 20px;
    }

    &__name {
        color: #2C4058;
        margin-bottom: 0;

        @include media(sm) {
            font-size: 14px;
        }
    }

    &__date {
        color: #55B7FF;
        font-size: 14px;
        margin-bottom: 0;
    }
}
