.last-news {
    background: linear-gradient(237deg, #24CCFA 11.16%, #3C7FD4 89.18%);
    padding: 150px 0;
    line-height: normal;
    position: relative;

    &::before {
        content: "";
        background: url('../../images/painted-city2.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        opacity: 0.1;
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    @include media(sm) {
        padding: 40px 0;
    }

    &__title {
        color: $color-white;
        text-align: center;
        font-size: 44px;
        font-weight: 700;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            max-width: 100px;
            width: 100%;
            height: 1px;
            background-color: $color-white;
            top: -30px;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    // &__item {
    //     max-width: 370px;
    //     max-height: 514px;
    //     width: 100%;
    //     height: 100%;
    //     background-color: $color-white;
    //     padding: 15px;
    // }
}

.news-slider {
    &:not(.slick-initialized) {
        display: flex;

        .news-slider__item {
            width: 33.333%;
            z-index: 3;

            &:nth-child(n+4) {
                display: none;
            }
        }
    }

    &__item {
        padding: 15px;
    }
}

.news {
    background-color: #fff;

    &__img {
        width: 100%;
        max-height: 240px;
        object-fit: cover;
        overflow: hidden;
    }

    &__deskription {
        padding: 30px 15px;
    }

    &__title {
        color: #2C4058;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    &__text {
        margin-bottom: 40px;
    }

    &__author {
        margin-top: auto;
    }
}

.news-author {
    display: flex;
    align-items: center;

    &__img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        object-fit: cover;
        object-position: center;
    }

    &__info {
        width: calc(100% - 60px);
        padding: 5px 5px 5px 20px;
    }

    &__name {
        color: #2C4058;
        margin-bottom: 0;
    }

    &__date {
        color: #55B7FF;
        font-size: 14px;
        margin-bottom: 0;
    }
}
