body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: $default-body-color;
}

@include grid;

.test {
    height: 150px;
    background-color: red;


    @include media(md) {
        background-color: green;
    }

    @include media(sm) {
        background-color: yellow;
    }
}
