.design {
    margin-bottom: 70px;

    @media screen and (max-width: 768px) {
        margin-bottom: unset;
    }

    &__overtext {
        line-height: 43px;
    }

    &__items {
        padding-top: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        &__list>p:first-child {
            font-weight: 700;
            padding-bottom: 10px;
        }
    }
}
