.tools {
    background: url('../images/tools/bg.svg') center bottom;
    background-size: cover;
    padding-bottom: 74px;
    margin-bottom: 100px;

    @media screen and (max-width: 992px) {
        margin-bottom: unset;
    }


    @media screen and (max-width: 768px) {
        text-align: center;
    }

    &__title {
        max-width: 539px;
        margin: 0 auto;
        text-align: center;
        line-height: normal;
    }

    &__subtitle {
        padding-top: 30px;
        padding-bottom: 16px;
    }

    &__text {
        padding-bottom: 83px;

        @media screen and (max-width: 992px) {
            padding-bottom: unset;
        }
    }

    &__action {
        text-align: center;
    }
}
