.hero {
    margin-bottom: 93px;

    @include media(md) {
        margin-bottom: unset;
    }

    &__text {
        padding-bottom: 20px;
        font-size: 18px;
        font-weight: normal;
        line-height: 28px;
    }
}
