.managers {
    margin-bottom: 70px;

    &__overtext {
        @extend .design__overtext;
    }

    &__items {
        @extend .design__items;

        &__list {
            display: flex;
            gap: 30px;
        }
    }
}
