.tools {

    background: url('../../images/tools/bg.svg') center bottom;
    background-size: cover;
    padding-bottom: 74px;

    @include media(md) {
        text-align: center;
    }

    &__title {
        max-width: 539px;
        margin: 0 auto;
        text-align: center;
        line-height: normal;
    }

    &__subtitle {
        padding-top: 30px;
        padding-bottom: 16px;
    }

    &__text {
        padding-bottom: 83px;

        @include media(md) {
            padding-bottom: unset;
        }
    }

    &__action {
        text-align: center;
    }
}
