.steps {
    background-color: $default-bg-color;
    padding: 60px 0;

    // .steps__items

    &__items {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
        align-items: center;
    }

    // .steps__item

    &__item {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    // .steps__title

    &__title {
        font-family: $default-font-sub-font;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        text-transform: capitalize;
    }

    // .steps__icon

    &__icon {}
}

.icon-img {
    width: $icon-width;
    height: $icon-height;
}

.icon-blue {
    fill: $blue;
}

.icon-red {
    fill: $red;
}

.icon-accent {
    fill: $accent;
}
