// colors
$orang-color: #f76707;
$color-title: #2F281E;
$color-text: #544837;
$white-color: #fff;
$periwikle-gray: #BCD0E5;


$border-btn-color-primary: $orang-color;
$border-btn-color-secondary: $periwikle-gray;
$border-height: 50px;
$btn-font-weight: 600;


$default-body-color: $orang-color;
// fonts
$fallback: Arial, Helvetica, sans-serif;
$default-font-name: 'Montserrat';
$main-font: $default-font-name, $fallback;
$secondary-font: 'Poppins', $fallback;
$font-path: './fonts/';
// container
$container-padding: 15px;
$container-max-with: 1200px;
$gap: 15px;
$default-coutn-col: 12;
$default-width: 1200px;

$breack-points: (
    "lg": 1200px,
    "md": 992px,
    "sm": 768px,
    "xs": 576px,
    "xxs": 480px,
    "xxxs": 320px
);
