.article {

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &__item {
        background-color: $lightpink-color;
        padding: 20px;
        width: 90%;
        margin: 0 auto;
    }

    &__name {
        text-transform: uppercase;
        font-size: 22px;
        text-align: center;
        padding-bottom: 15px;
    }

    &__img {
        display: block;
        width: 100%;
        padding-bottom: 15px;
    }

    &__text {
        font-size: 18px;
        line-height: normal;
    }
}

.blog-article {

    &__wrapper {
        background-color: $lightgray-color;
        width: 60%;
        padding: 15px;
    }

    &__title {
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 25px;
    }

}
