.aside__block {
    width: 30%;
}

.news {

    &__wrapper {
        background-color: $lightgray-color;
        padding: 15px;
    }

    &__list {
        background-color: $blueviolet-color;
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 15px;
    }

    &__heading {
        text-align: center;
        font-size: 36px;
        text-transform: uppercase;
        padding-bottom: 25px;
    }

    &__title {
        font-size: 18px;
        line-height: normal;
        padding-top: 15px;
    }

}
