.weather {

    &__block {
        height: 100%;
        background-color: $lightblue-color;
        border: 25px solid $jellybean-color;
        padding: 30px;
    }

    &__heading {
        display: flex;
        gap: 10px;
        font-size: 21px;
        padding-bottom: 30px;
    }

    &__title {
        color: $white-color;
    }

    &__forecast {
        border: 1px solid $white-color;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .lisbon {
            grid-column: 1 / span 2;
            background-color: $lightskyblue-color;
            border: 2px solid $white-color;
        }

        .san-francisco {
            grid-column: 2 / span 2;
            background-color: $lightpurple-color;
        }

        .sydney {
            grid-column: 1 / span 4;
            background-color: $bluegray-color;
        }

        .paris {
            background-color: $teal-color;
        }

        .belgrade {
            background-color: $purple-color;
        }

        .venice {
            background-color: $lightpink-color;
        }

        .tel-aviv {
            background-color: $lightorange-color;
        }

        .cairo {
            background-color: $brightyellow-color;
        }

        .new-york {
            background-color: $lightgreen-color;
        }

        .new-delhi {
            background-color: $turquoise-color;
        }

        .tokyo {
            background-color: $green-color;
        }
    }
}

.weather-forecast {
    border: 2px solid $white-color;
    padding: 15px;
    height: 147px;

    &:hover {
        background-color: $brickred_color;
        cursor: pointer;
    }

    &__title {
        color: $white-color;
    }

    &__container {
        color: rgba(255, 255, 255, 0.70);
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
    }
}

.bottom__text {
    color: $white-color;
    padding-top: 25px;
    padding-bottom: 40px;
    font-size: 16px;
}
