.btn {
    @include font-family(500, 16px, $color-blue, 160%, 0.08px, $main-font, normal);
    text-decoration: none;
    @extend %flex-jcc-aic;
    width: 210px;
    height: 60px;
    border: $default-border;
    border-radius: 50px;
    box-shadow: $default-box-shadow;
}

.btn-violet {
    background-color: $color-blue;
    color: $color-white;

    &:hover {
        background-color: $color-blue;
        background-color: $color-blue;
    }
}

.btn-pink {
    color: $color-white;
    border: 1px solid $color-blue;
    background-color: $color-blue;

    &:hover {
        background-color: $color-blue;
        background-color: $color-blue;
    }
}
