.btn {
    @include font-family(400, 16px, $color-blue-accent, 20px, 1.12px, $title-font-name, normal);
    text-decoration: none;
    @extend %flex-jcc-aic;
    width: 213px;
    height: 60px;

    border: $default-border;
    background-image: url(../../images/rectangle.svg);
    background-repeat: no-repeat;
    text-transform: uppercase;
    background-color: $color-blue-accent;
}

.btn-blue {
    background-color: $color-blue-accent;
    color: $color-white;

    &:hover {
        background-color: $color-blue;
    }
}

.btn-pink {
    color: $color-white;
    border: 1px solid $color-blue;
    background-color: $color-blue;

    &:hover {
        background-color: $color-blue;
        background-color: $color-blue;
    }
}
