.container,
.row,
.col,
.search-wrapper {
    height: 100%;
}

.hero-block {
    background-image: url(../../images/header-background.png);
    background-size: cover;
    height: 100vh;

    &__search {}
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search {
    text-align: center;

    &__title {
        text-align: center;
        margin: 0;
        // padding-top: 30vh;


        color: $color-white;
        font-size: 48px;
        font-weight: 700;
        line-height: 52px;
        text-transform: uppercase;
    }

    &__subtitle {
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 6.82px;
    }
}

.scroll-down {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2.8px;
    margin: 0;
}

.chevron-down {
    width: 14px;
}
