.container,
.row,
.col,
.search-wrapper {
    height: 100%;
}

.hero-block {
    background-image: url(../../images/header-background.png);
    background-size: cover;
    height: calc(100vh - $nav-height-desktop);
    background-position: center center;

    @include media(md) {
        height: calc(100vh - $nav-height-md);
    }

    @include media(sm) {
        height: calc(100vh - $nav-height-desktop);
    }

    &__title {
        text-align: center;
        margin: 0;
        margin-top: 20vh;
        color: $color-white;
        font-size: 48px;
        font-weight: 700;
        line-height: 52px;
        text-transform: uppercase;
    }

    &__subtitle {
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 6.82px;
    }

    &__search {
        margin-top: 48px;
    }

    &__scroll-down {
        flex: 1;
    }
}

.hero-block-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.search {
    text-align: center;
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 650px;
    width: 100%;

    &__input {
        max-width: 647px;
        width: 100%;
        height: 60px;
        padding: 0;
        font-family: $main-font;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2.8px;
        border: none;

        &::placeholder {
            padding-left: 36px;
        }
    }
}

.search-button {
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: $color-blue-accent;
        width: 140px;
        height: 52px;
        top: 4px;
        right: 6px;
        border: none;

        &:hover {
            background-color: $color-blue;
        }

        @include media(xxs) {
            position: relative;
            margin: 20px auto;
        }
    }

    &__img {
        width: 16px;
        height: 16px;
        fill: $color-white;
    }

    &__title {
        color: $color-white;
        font-family: $title-font;
        font-size: 14px;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        padding-left: 12px;
        padding-top: 2px;
    }
}


.scroll-down {
    display: flex;

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        text-decoration: none;
        margin-bottom: 105px;
        animation: moveUpDown 2.5s ease-in-out infinite;

        @keyframes moveUpDown {

            0%,
            100% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(30px);
            }
        }
    }

    &__title {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2.8px;
        margin: 0;
        color: $color-white;
    }

    &__img {
        width: 14px;
        height: 16px;
        fill: $color-white;
    }
}
