.house-spain {
    background-image: url(../../images/house-spain.png);
    background-size: cover;


    &__hs-item {}
}

.container {}

.row {}

.col-6 {}

.hs-item {
    margin: 220px 672px 120px 0;
    padding: 44px 32px;
    max-width: 648px;
    width: 100%;
    max-height: 344px;
    background-color: rgba(35, 35, 35, 0.90);
    color: $color-white;

    &__subtitle {
        font-size: 20px;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 2px;
        padding-bottom: 16px;
        margin: 0;
    }


    &__title {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        text-transform: uppercase;
        padding-bottom: 16px;
        margin: 0;
    }


    &__description {
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 1.6px;
        padding-bottom: 24px;
        margin: 0;
    }


    &__button-wrapper {}


    &__button {}
}

.button {}

.btn {}
