.nav {
    background-color: $color-blue-accent;
    height: $nav-height-desktop;

    @include media(md) {
        height: $nav-height-md;
    }
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;

    @include media(md) {
        align-items: flex-end;
        justify-content: center;
    }
}

.logo {
    color: $color-white;
    font-family: $main-font;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin: 0;


}

.menu-wrapper {
    &__item {
        display: flex;
        justify-content: space-evenly;
    }
}

.menu {
    align-items: center;
    list-style: none;

    &__item {}

    &__link {
        color: $color-white;
        font-family: $title-font;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px;
        border: 1px solid $color-blue-accent;
        border-radius: 0px;
        transition: border-color .5s, border-radius .5s;

        &:hover {
            border: 1px solid $color-white;
            border-radius: 15px;
        }
    }
}
