.steps {
    background-color: $color-darkgray;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-height: 306px;
        height: 100%;
        padding: 60px 0;

        & .step-item:nth-child(1) {
            fill: $color-blue-accent;
        }

        & .step-item:nth-child(2) {
            fill: $color-light-red;
        }

        & .step-item:nth-child(3) {
            fill: $color-blue;
        }
    }
}

.container {}

.col-12 {}

.row {}

.step {

    &__step-item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 424px;
        width: 100%;

        padding-left: 24px;

        &:first-child {
            padding-left: 0px;
        }

        // &::after {
        //     position: absolute;
        //     left: 200px;
        //     content: '';
        //     width: 300px;
        //     height: 300px;
        //     border-radius: 50%;
        //     border-top: 2px solid black;
        // }
    }
}

.step-item {
    &__img {
        width: 64px;
        height: 64px;
    }

    &__description {
        color: $color-white;
        text-align: center;
        font-family: $title-font;
        font-size: 36px;
        line-height: 40px;
        text-transform: capitalize;
        padding-top: 20px;
        margin: 0;
    }
}
