.storage-bank {
    background-color: $color-medium-pink;
    border-radius: 50px;
}

.storage {

    // .storage__container

    &__container {}

    // .storage__image-wrapper

    &__image-wrapper {
        width: 90%;
        margin: 0 auto;
    }

    // .storage__image

    &__image {
        padding-top: 10px;
    }

    // .storage__info

    &__info {
        width: 90%;
        margin: 0 auto;
        padding-top: 70px;
        padding-bottom: 110px;

        @include media(md) {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        @include media(sm) {
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

    // .storage__title

    &__title {
        @include font-family(700, 40px, $color-darkblue, 130%, normal, $title-font-name);
    }

    // .storage__text

    &__text {
        @include font-family(500, 18px, $color-darkgray, 160%, normal, $main-font);
    }
}
