.why-choose-us .row {

    @include media(md) {
        flex-direction: column-reverse;
    }
}

.why-choose-us {
    background-image: url(../../images/castle-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &__text-wrapper {
        padding: 124px 0;

        @include media(md) {
            text-align: center;
            padding: 0 0 30px 0;
        }
    }

    &__title {
        color: $color-white;
        font-family: $title-font;
        font-size: 36px;
        font-weight: 400;
        line-height: 40px;
        text-transform: capitalize;
        padding: 76px 0 24px;
        margin: 0;

        @include media(md) {
            padding: 0 24px;
        }
    }

    &__description {
        color: $color-white;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 1.6px;
        padding-bottom: 32px;
        margin: 0;
    }

    &__button-wrapper {
        @include media(md) {
            display: flex;
            justify-content: center;
        }
    }

    &__button {}

    &__images-wrapper {
        padding: 124px 0 124px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        @include media(md) {
            flex-direction: row;
            padding: 45px 0 0 0;
        }
    }

    &__image-container {
        position: relative;
        width: 350px;
        height: 220px;
        overflow: hidden;

        &:first-child {
            margin-right: 70px;

            @include media(lg) {
                margin-right: 36px;
            }
        }

        &:last-child {
            padding-top: 16px;
        }
    }

    &__img-top {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        display: block;
    }

    &__img-bottom {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}
