.content {
    padding-top: 220px;
    padding-bottom: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include media(md) {
        padding: 165px 0 100px;
    }

    @include media(md) {
        padding: 110px 0 80px;
    }

    @include media(sm) {
        padding: 50px 0;
    }

    // .content__sub-text

    &__sub-text {
        font-size: $font-size-h5;
        line-height: 28px;
        letter-spacing: 2px;
        margin: 0 0 14px 0;
    }

    // .content__title

    &__title {
        font-family: Josefin Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        text-transform: uppercase;
        margin: 0 0 16px 0;
    }

    // .content__text

    &__text {
        line-height: 28px;
        letter-spacing: 1.6px;
        margin-bottom: 0 0 32px 0;
    }

}

.content-block {
    background-color: $background-bg-content;
    padding: 44px 32px;

    @include media(sm) {
        padding: 32px;
    }

}

.content-first {
    background-image: url(#{$base-img-path}images/content-1.png);
}

.content-second {
    background-image: url(#{$base-img-path}images/content-2.png);
}

.content__right {
    margin-left: 50%;

    @include media(md) {
        margin: 0 auto;
    }
}

.content__left {
    margin-right: 50%;

    @include media(md) {
        margin: 0 auto;
    }
}
