.footer {
    background: url(../../images/footer.png), linear-gradient(251deg, #7E5AFF -2.19%, #55B7FF 103.21%);
    padding-top: 150px;
    background-repeat: no-repeat;
    padding-bottom: 150px;
    position: relative;

    &-info {
        width: 800px;
        max-width: 800px;
        margin: 0 auto;
        margin-top: 350px;

        @include media(md) {
            margin-top: 450px;

        }
    }
}

.row-f {
    display: flex;
    justify-content: space-between;
}

.contact__card {
    background: url(../../images/city-img.png), #ffffff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 40px;
    width: 770px;
    height: 475px;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 2;
    color: #000;
    box-shadow: 5px 0px 10px 0px #000;

    @include media(md) {
        width: 450px;
        height: 770px;

    }

    @include media(sm) {
        width: 350px;
        height: 770px;

    }

    @include media(xs) {
        width: 300px;
        height: 770px;

    }
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include media(md) {
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;

    }
}

.contact__address {
    color: #000;
    text-decoration: none;
    display: flex;
    gap: 10px;
    align-items: center;

    @include media(md) {
        justify-content: center;
    }

    @include media(sm) {
        font-size: 16px;
        letter-spacing: 0;
    }

    svg {
        fill: #7e5aff;
    }
}

.contact__info {

    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.contact__title-wrapper {
    @include media(md) {
        margin-bottom: -80px;
        height: 150px;

    }




}

.contact__title {
    font-family: $default-font-name;
    font-size: 44px;
    font-weight: 700;
    color: $rhino;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;

    @include media(sm) {
        margin-bottom: -50px;
        font-size: 30px;



    }


    &::before {
        content: "";
        display: block;
        width: 100px;
        height: 3px;
        background: $rhino;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

.form {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;

    @include media(md) {
        width: 100%;
    }

    .form__label {
        display: flex;
        justify-content: flex-end;
        color: #000;



        .more-btn {
            color: #000;
            width: 140px;
            height: 50px;

            @include media(md) {
                margin: 0 auto;
            }

            text-align: center;
        }
    }
}

.ftr__input {
    border: 0;
    border-bottom: 1px solid #2C4058;
    background: transparent;
    width: 100%;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 27px;
    color: #000;
    opacity: 0.3;


}

.form__label.error {
    display: flex;
    flex-direction: column;
    color: red;

    border-color: red;
}

.form__label.success {
    display: flex;
    flex-direction: column;
    border-color: green;
}

.arrow-top {
    width: 30px;
    height: 30px;
    opacity: 0.7;
    position: fixed;
    top: 85%;
    right: 10%;
    transform: rotate(-90deg);
    z-index: 100;

    @include media(sm) {
        height: 50px;
        width: 50px;

    }
}
