$btn-padding: 15px 40px;

.btn-inline {
    margin-top: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: $gray-8-color;
}

.cancel {

    // .cancel__button

    &__button {
        padding: $btn-padding;
        border: 1px solid $grey-7-color;
        color: $orang-color;
        text-transform: uppercase;
        font-family: inherit;
        cursor: pointer;
        font-size: 100%;
        transition: all .5s ease-in-out;

        &:hover {
            color: $white-color;
            background-color: $orang-color;
        }
    }
}

.regist {

    // .regist__button

    &__button {
        padding: $btn-padding;
        border: 1px solid $grey-7-color;
        color: $white-color;
        background-color: $orang-color;
        text-transform: uppercase;
        cursor: pointer;
        font-family: inherit;
        font-size: 100%;
        transition: all .5s ease-in-out;

        &:hover {
            color: $orang-color;
            background-color: $white-color;
        }
    }
}
