$label-item-bg: $white-color;

.main-title,
.sub-title {
    text-align: center;
}

.social-list {

    &__input {
        @include social-item (facebook);
        @include social-item (instagram);
        @include social-item (linkedin);
        @include social-item (googleplus);
        @include social-item (twitter);

        //&[name="facebook"]:checked~.social-list__row {
        //    .social-list__item_facebook {
        //        opacity: 1;
        //    }

        //    .social-list__url-item_facebook {
        //       opacity: 1;
        //        transform: translateX(0);
        //    }
        //}

        &:checked~.social-list__row {
            .social-list__label_opacity {
                opacity: 1;
            }
        }
    }

    &__label {
        @extend .form-control__label;
        margin: 0;

        &_opacity {
            opacity: 0;
            transition: opacity .3s ease-in-out;
        }
    }

    &__items-wrapper {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        display: flex;
        flex-direction: row-reverse;
        opacity: .4;
        transition: opacity .3s ease-in-out;
        margin-bottom: 5px;
    }

    &__label-item {
        flex-grow: 1;
        background-color: $label-item-bg;
        display: flex;
        align-items: center;
        padding-left: 15px;
    }

    &__url-items-wrapper {
        @extend .social-list__items-wrapper;
        overflow: hidden;
    }

    &__url-item {
        transform: translateX(-100%);
        opacity: .4;
        transition: opacity .3s ease-in-out, transform .3s ease-in-out;
        margin-bottom: 5px
    }
}

.input-hidden {
    @include visuality-hidden;
}
