body {
    font-family: $main-font;
    background-color: $default-body-color;
    font-size: $default-font-size;
    color: $default-font-color;
}

@include grid();

.mobile-only {
    @include media-m(sm) {
        display: none !important;
    }
}

.desktop-only {
    @include media(sm) {
        display: none;
    }
}

.title {
    @include font-family($_weight: 600, $_size: 28px, $_color: $title-color, $_height: 166%, $_spacing: 2.8px, $_family: $title-font, $_style: normal)
}
