// colors
$orang-color: #f76707;
$white-color: #FFF;
$gray-3-color: #dee2e6;
$gray-6-color: #868e96;
$grey-7-color: #495057;
$gray-8-color: #343a40;
$grey-light: lightgray;
$green-color: green;
$periwinkle-gray: #BCD0E5;
$black-color: #000;
$grey-color: #565656;
$footer-grey: #F4F4F4;

$title-color: $black-color;
$text-color: $grey-color;

$border-btn-color-primary: $orang-color;
$border-btn-color-secondary: $periwinkle-gray;
$border-height: 50px;
$btn-font-weight: 600;

$border-color: $grey-color;
$default-border: 1px solid $grey-color;

$default-body-color: $white-color;
$default-font-color: $text-color;

// fonts
$default-font-name: 'Lato';
$fallback: Arial, Helvetica, sans-serif;
$default-font-size: 19px;

$main-font: $default-font-name, $fallback;
$font-path: './fonts/';

$title-font-name: 'Red Hat Display';
$title-font: $title-font-name, $fallback;

// containers
$container-padding: 15px;
$container-max-width: 1170px;

$gap: 15px;
$gap-mobile: 10px;
$default-count-col: 12;

$default-width: 1170px;

$icon-width: 30px;
$icon-height: $icon-width;
$icon-padding: 10px;

$breack-points: (
    "lg": 1200px,
    "md": 992px,
    "sm": 768px,
    "xs": 576px,
    "xxs": 480px
);
