.search-form {
    margin: 0 auto;
    width: 647px;

    @include media(sm) {
        width: 540px;
        transition: width .3s ease;
    }

    @include media(xs) {
        width: 500px;
        transition: width .3s ease;
    }

    @include media(xs) {
        width: 360px;
        transition: width .3s ease;
    }

    @include media(xxs) {
        width: 290px;
        transition: width .3s ease;
    }

    // .search-form__wrapper

    &__wrapper {
        margin: 0 auto;
        display: flex;
        flex-wrap: nowrap;

        align-items: center;
        background-color: $color-white;
        justify-content: space-between;
    }

    // .search-form__input

    &__input {}

    // .search-form__button-container

    &__button-container {
        cursor: pointer;
    }

    // .search-form__icon-img

    &__icon-img {
        height: 16px;
        width: 16px;
        fill: white;
    }

    // .search-form__text
    &__text {
        margin: 0;

        @include media(xs) {
            display: none;
        }
    }

    // .search-form__button
    &__button {
        display: flex;
        align-items: center;
        gap: 12px;

        cursor: pointer;
    }
}

.input-form {
    background-color: $color-white;
    color: $color-gray;
    border: 0;
    width: 100%;
    padding: 16px 10px 16px 36px;

    @include fonts-type ($default-font-name, $font-size-small, $font-weight-name, $line-height, $letter-spacing-holder);

    @include media(xs) {
        padding: 10px 5px 10px 20px;
        @include fonts-type ($default-font-name, $font-size-small, $font-weight-name, $line-height, $letter-spacing-text);

    }

    @include media(xxs) {
        padding: 5px 3px 5px 10px;
        @include fonts-type ($default-font-name, $font-size-small, $font-weight-name, $line-height, normal);
    }
}
