.search-form {
    margin: 0 auto;
    width: 647px;

    @include media(lg) {
        width: 600px;
        transition: width .3s ease;
    }

    @include media(md) {
        width: 540px;
        transition: width .3s ease;
    }

    @include media(sm) {
        width: 480px;
        transition: width .3s ease;
    }

    @include media(xs) {
        width: 420px;
        transition: width .3s ease;
    }

    @include media(xs) {
        width: 320px;
        transition: width .3s ease;
    }

    @include media(xxs) {
        width: 300px;
        transition: width .3s ease;
    }

    // .search-form__wrapper

    &__wrapper {
        margin: 0 auto;
        display: flex;
        flex-wrap: nowrap;

        align-items: center;
        background-color: $color-white;
        justify-content: space-between;
        padding: 4px 5px 4px 36px;

        @include media(lg) {
            padding: 4px 5px 4px 32px;
        }

        @include media(md) {
            padding: 4px 5px 4px 28px;
        }

        @include media(sm) {
            padding: 4px 5px 4px 24px;
        }

        @include media(xs) {
            padding: 4px 5px 4px 10px;
        }

    }

    // .search-form__input

    &__input {}

    // .search-form__button-container

    &__button-container {
        cursor: pointer;
    }

    // .search-form__icon-img

    &__icon-img {
        height: 16px;
        width: 16px;
        fill: white;
    }

    // .search-form__text
    &__text {
        margin: 0;

        @include media(xs) {
            display: none;
        }
    }

    // .search-form__button
    &__button {
        display: flex;
        align-items: center;
        gap: 12px;

        cursor: pointer;
    }
}

.input-form {
    background-color: $color-white;
    color: $color-gray;
    border: 0;
    width: 100%;
    padding: 0 10px 0 0;
    @include fonts-type ($default-font-name, $font-size-small, $font-weight-name, $line-height, $letter-spacing-holder);

    @include media(xs) {
        @include fonts-type ($default-font-name, $font-size-small, $font-weight-name, $line-height, $letter-spacing-text);
    }

    @include media(xxs) {
        padding: 0 5px 0 0;
        @include fonts-type ($default-font-name, $font-size-small, $font-weight, $line-height, $letter-spacing-btn);
    }

}
