.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

.logo__left {
    float: left;
    padding-left: 120px;
}

.buttons__right {
    float: right;
    padding-right: 120px;
}

.button1 {
    background-color: #ffffff;
    border: 1px solid #BCD0E5;
    color: black;
    padding: 13px 25px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button2 {
    background-color: #f90;
    color: white;
    padding: 13px 25px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 32px;
}

.nav {
    list-style-type: none;
    text-align: center;
    font-size: 0;
}

.menu .menu__item {
    display: inline-block;
    font-size: 16px;
    padding-right: 20px;
}

.menu__link {
    text-decoration: none;
}

.menu__link:link {
    color: black;
}

.menu__link:visited {
    color: black;
}

.menu__link:hover {
    color: orange;
}

.footer {
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
    display: inline-block;
}

.footer__logo {
    float: left;
    padding-left: 100px;
}

.block__one,
.block__two {
    line-height: 30px;
    display: inline-block;
}

.quick__links,
.legal__staff {
    display: inline;
    list-style-type: none;
}

.block__links a {
    text-decoration: none;
}

.block__links a:link {
    color: black;
}

.block__links a:visited {
    color: black;
}

.block__links a:hover {
    color: #f90;
}

.input {
    width: 340px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.button3 {
    background-color: #f90;
    color: white;
    padding: 13px 25px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline;
}

.buttons {
    float: right;
    width: 28%;
}

input[type=number] {
    width: 340px;
    height: 50px;
    box-sizing: border-box;
}
