@include font-face('roboto-v30-latin-regular');
@include font-face('roboto-v30-latin-500', 500);
@include font-face('delius-unicase-v26-latin-regularroboto-v30-latin-700');
@include font-face("Delius Unicase");

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: $default-body-color;
    font-size: 20px;
    color: #E0E0E0;

}

@include grid;
