@include font-face('roboto-v30-latin-regular');
@include font-face('roboto-v30-latin-500', 500);
@include font-face('delius-unicase-v26-latin-regular');
@include font-face("Delius Unicase");

@font-face {
    font-display: swap;
    font-family: 'Delius Unicase';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/delius-unicase-v26-latin-regular.woff2') format('woff2');
}

body {
    font-family: $main-font;
    background-color: $default-body-color;
    font-size: 20px;
    color: #E0E0E0;
}

@include grid;
