body {
    font-family: 'PT Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 28px;
    font-style: normal;
    line-height: 48px;
    color: #000;
}

li {
    list-style-type: none;

}

a {
    text-decoration: none;
    color: #000
}

i {
    font-style: italic;
}

b {
    font-weight: 700;
}

h2 {
    font-family: Francois One;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    padding-top: 70px;
}

h2::before {
    content: '';
    display: block;
    width: 100px;
    height: 8px;
    background-color: #000;
    margin-bottom: 20px;

}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 13px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.col-8 {
    width: calc(100% / 12 * 8);
    position: relative;
    margin-bottom: 90px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav__btn {
    align-self: center;
    padding-right: 25px;
    padding-bottom: 7px;
}

.btn_lang {
    font-family: Tourney;
    font-size: 22px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.88px;
    text-align: center;
    border: none;
    background-color: #fff;
}

.nav__breadcrumb {
    font-family: Staatliches;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.66px;
    padding-left: 25px;
    padding-right: 25px;
}

.breadcrumb__item {
    display: inline-block;
}

.breadcrumb__item+.breadcrumb__item::before {
    padding: 10px;
    color: black;
    content: '\002F';
}

.nav__logo {
    box-sizing: border-box;
    padding-left: 25px;
    margin-left: auto;
}

.main {

    margin-top: 151px;
    background-image: url('../images/bg-picture.svg');
    background-repeat: no-repeat;
    background-position: right -135px top 164px;
    background-attachment: fixed;
}

.sidenav {
    align-self: start;
    position: sticky;
    top: 81px;
}

.sidenav__content {
    font-family: Francois One;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 1.44px;
    text-transform: uppercase;
}

.sidenav__item {
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 70px;
}

.sidenav__item:last-child {
    margin-bottom: 0;
}


.title__sup {
    font-family: Farro;
    font-size: medium;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: none;
    position: absolute;
    padding-left: 10px;
}

.fundamentals__mark {
    background-color: #DADADA;
}

.title__introduction {
    padding-top: 0;
}

.introduction__content,
.components__content {
    padding-top: 40px;
}

.fundamentals__content>p {
    padding-top: 40px;
}

.input__content>p {
    padding-top: 40px;
}
