// colors
$color-red: red;
$color-green: green;
$color-lightgray: lightgray;

$default-body-color: $color-lightgray;

// fonts
$default-font-name: 'Roboto';
$fallback: Arial, Helvetica, sans-serif;

$main-font: $default-font-name, $fallback;
$font-path: './fonts/';

// containers
$container-padding: 15px;
$container-max-width: 1200px;

$gap: 15px;
$defaulp-count-col: 12;

$default-width: 1200px;

$breack-points: (
    "lg": 1200px,
    "md": 992px,
    "sm": 768px,
    "xs": 576px,
    "xxs": 480px
);
