@include font-face('montserrat-v25-latin-regular');

.header {
    .container {
        padding: 17px 10px;
    }

    // .header__logo

    &__logo {}
}


.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-6 {
    width: 50%;

}

.logo {

    // .logo__image

    &__image {}
}

.col-4 {}

.nav {}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;

    // .menu__item

    &__item {}

    &__item>a {
        text-decoration: none;
        color: $color-title;
    }

    &__item>a:hover {
        color: $color-orange;
    }
}

.action {

    &__link {}
}
