@font-face {
    font-display: swap;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/josefin-sans-v32-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/josefin-sans-v32-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/josefin-sans-v32-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/aleo-v14-latin-regular.woff2') format('woff2');
}
