body {
    font-family: $main-font;
    font-size: $default-font-size;
}

.container {
    padding-bottom: $container-bottom-padding;
    max-width: $container-max-width;
    margin: 0 auto;
}

@include grid();

.mobile-only {
    @include media-m(sm) {
        display: none !important;
    }
}

.desktop-only {
    @include media(sm) {
        display: none !important;
    }
}
