body {
    font-family: $main-font;
    font-size: $default-font-size;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%
}

@include grid();

.mobile-only {
    @include media-m(sm) {
        display: none !important;
    }
}

.desktop-only {
    @include media(sm) {
        display: none !important;
    }
}

.btn {
    color: inherit;
    font-family: $btn-font;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.12px;
    // white-space: nowrap;
    z-index: 100;
    position: relative;
}

.btn-wrapper {
    background-color: $blue;
    width: 150px;
    position: relative;
    z-index: 1;
}

.btn-wrapper::before {
    content: " ";
    background-color: $darker-blue;
    width: 52%;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;

}

.btn-wrapper::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 31px solid transparent;
    border-top: 31px solid $blue ;
    border-right: 31px solid $blue ;
    border-bottom: 31px solid transparent;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 24%;

}
