.footer {
    color: $white;
    background-color: $black;
    // .footer__container

    &__container {
        padding-top: 80px;
        padding-bottom: 80px;

        @include media(md) {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        @include media(xs) {
            padding-top: 30px;
            padding-bottom: 30px;
        }

    }

    // .footer__row

    &__row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text-row {}

    // .footer__title

    &__title {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 2.4px;
        margin: 0;
        padding-bottom: 8px;
    }

    // .footer__moto

    &__moto {
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 2.8px;

        @include media(xs) {
            padding-bottom: 15px;
        }
    }

    // .footer__menu

    &__menu {
        list-style-type: none;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;

        &_item {}

        // .footer__menu_item-link

        &_item-link {}
    }

    // .footer__img

    &__img {
        color: $white;
        height: 33px;
    }
}

.linkedin {
    color: $blue;
}
