.testimonial {
    background: url(../images/testimonial-bg.jpeg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    &__container {
        padding-top: 120px;
        padding-bottom: 180px;

        @include media(md) {
            padding-top: 90px;
            padding-bottom: 135px;
        }

        @include media(xs) {
            padding: 80px;
        }

        @include media(xxs) {
            padding: 30px;
        }
    }

    // .testimonial__row

    &__row {
        margin: 0 auto;
        color: $white;

        @include media(xs) {
            flex-direction: column;
        }
    }

    // .testimonial__title

    &__title {
        margin: 0;
        font-family: $section-title-font;
        font-size: 36px;
        font-weight: 400;
        line-height: 40px;
        padding-bottom: 60px;
        text-align: center;
        color: $white;

        @include media(xxs) {
            padding-bottom: 30px;
        }
    }

    &__text-quote {
        color: $blue;
        width: 20px;
        height: 20px;
        margin: 0;
        padding-right: 5px;

    }

    // .testimonial__img-wrapper

    &__img-wrapper {}

    // .testimonial__img

    &__img {
        padding: 0;
        object-fit: cover;
        object-position: 70% 50%;
    }

    // .testimonial__info

    &__info {
        padding: 48px 60px;
        background-color: $dark-gray;

        @include media(md) {
            padding: 30px 45px;
        }

        @include media(xxs) {
            padding: 20px;
        }

    }

    // .testimonial__name

    &__name {
        text-transform: uppercase;
        margin: 0;
        font-weight: 400;
        line-height: 28px;
        font-size: 20px;
        padding-bottom: 13px;
    }

    // .testimonial__text

    &__text {
        margin: 0;
        line-height: 28px;
        font-weight: 300;
        letter-spacing: 1.6px;
    }
}
