.menu {
    display: flex;
    gap: 10px;
    @extend %ul-not-marker;
    padding-left: 105px;

    &__link {
        padding: 0 15px;

        &_a {
            @include font-family(500, 16px, $color-darkgray, 160%, normal, $main-font, normal);
            text-decoration: none;
        }

        &:hover {
            .menu__link_a {
                color: $color-electric-violet;
            }
        }

        @include media(sm) {

            &:first-child {
                border-top: $default-border;
            }

            padding: 20px 0;
            border-bottom: $default-border;
            text-align: center;
        }
    }

    @include media(sm) {
        padding: 0;
        position: fixed;
        width: 100%;
        top: 110px;
        bottom: 0;
        display: block;
        text-align: center;
        background-color: $color-white;
        transform: translateX(-105%);
        transition: transform .3s ease-in-out;

        .menu-open-input:checked~& {
            transform: translateX(-2%);
        }
    }

}

.menu-open-input {
    @include visuality-hidden;
}

.menu-open-label {
    @include media(sm) {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        border: $default-border;

        .menu-open-input:checked+& {
            .menu-open-label__line {
                background-color: transparent;

                &::before {
                    top: 0;
                    transform: rotate(45deg);
                }

                &::after {
                    bottom: 0;
                    transform: rotate(-45deg);
                }
            }
        }

        &__line {
            position: relative;
            display: block;
            width: 70%;
            background-color: $color-medium-purple;
            height: 4px;
            border-radius: 4px;
            border-color: $border-btn-color-primary;
            transition: background-color .3s ease-in-out;

            &::before,
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background-color: $color-medium-purple;
                border-radius: inherit;
                position: absolute;
                transition: all .3s ease-in-out;
            }

            &::before {
                top: -11px;
            }

            &::after {
                bottom: -11px;
            }
        }
    }
}
