.steps {
    background-color: $default-bg-color;
    padding: 60px 0;

    @include media(sm) {
        padding: 30px 0;
    }

    // .steps__items

    &__items {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        padding: 0;
        align-items: center;
        margin-bottom: 0;

        @include media(sm) {
            flex-direction: column;
            gap: 30px;
        }
    }

    // .steps__item

    &__item {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    // .steps__title

    &__title {
        margin-bottom: 0;
        @include fonts-type($default-font-sub-font, $font-size-h2, $font-weight-name, $line-height-h, normal, $text-transform-capit);

        @include media (md) {
            font-size: 34px;
            font-weight: 400;
            line-height: 36px;
        }

        @include media(sm) {
            white-space: nowrap;
            margin-bottom: 0;
            font-size: 30px;
            font-weight: 400;
            line-height: 34px;
        }

    }

    // .steps__icon

    &__icon {}
}

.steps-oval {
    width: 100%;

    @include media(lg) {
        overflow: hidden;
        display: none;
    }
}

.icon-img {
    width: $icon-width;
    height: $icon-height;
}

.icon-blue {
    fill: $blue;
}

.icon-red {
    fill: $red;
}

.icon-accent {
    fill: $accent;
}
