.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, minmax(1fr, 370px));
    grid-auto-rows: 370px;
    gap: 30px;

    justify-content: center;

    &__item {
        position: relative;
    }

    &__text {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;

        &-author {
            @include font-family (500, 20px, $white-color);
        }

        &-date {
            @include font-family (400, 20px, $white-color);
        }
    }
}
