.btn {
    text-decoration: none;

    font-weight: 500;
    display: inline-block;
    border: 1px solid transparent;

    border-radius: 50px;
    height: $border-height;
    display: inline-flex;
    align-items: center;




    &-small {
        padding: 15px 20px;
        height: 46px;
    }

    &-text-wrap {
        white-space: nowrap;
    }

    &-primary {
        background-color: $orang-color;
        color: $white-color;
    }

    &-secondary {
        background-color: $orang-color;
        color: $white-color;
    }
}
