.spain {

    // .spain__block

    &__block {
        background-image: url(../images/bg_4.png);
        height: 684px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    // .spain__textblock

    &__textblock {
        background: rgba(35, 35, 35, 0.90);
        width: 50%;
        padding: 20px;
        margin-top: 200px;
        margin-left: 400px;
        box-sizing: border-box;

        @include media(md) {
            text-align: center;
            margin-left: 24%;
            margin-top: 17%;
        }

        @include media(xs) {
            width: 80%;
            margin-left: 11%;
            margin-top: 25%;
        }
    }

    // .spain__header

    &__header {
        margin: 0;
        @include new-font;
        color: $white-color;
        padding-top: 15px;

        // .spain__header_upprcase

        &_upprcase {
            @include new-font;
            text-transform: uppercase;
            color: $white-color;
        }
    }

    // .spain__text

    &__text {
        @include new-font($default-font-name, 300, normal, 1.6px);
        color: $white-color;
    }
}
