.travel {

    // .travel_textblock

    &__textblock {
        width: 50%;
        background: rgba(35, 35, 35, 0.90);
        margin-top: 240px;
        margin-left: 120px;
        padding: 20px;
        box-sizing: border-box;

        @include media(md) {
            text-align: center;
            margin-left: 25%;
            margin-top: 16%;
        }

        @include media(xs) {
            width: 80%;
            margin-left: 11%;
            margin-top: 25%;
        }
    }

    // .travel__block

    &__block {
        background-image: url(../images/bg_3.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 684px;

    }

    &__header {
        margin: 0;
        @include new-font;
        color: $white-color;
        padding-top: 15px;

        // .travel__header_upprcase

        &_upprcase {
            @include new-font($default-font-name, 20px, 400, normal, 28px);
            text-transform: uppercase;
            color: $white-color;
        }
    }

    // .travel__text

    &__text {
        @include new-font($default-font-name, 16px, 300, normal, 28px, 1.6px);
        color: $white-color;
    }
}


.btn-wrapper {

    // .btn-wrapper_small

    &_small {
        padding-top: 15px;
    }
}

.btn-bottom {
    @include new-font('Aleo', 16px, 400, normal, 20px, 1.12px);
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 40px;
}
