.travel {

    // .travel_textblock

    &__textblock {
        width: 50%;
        background: rgba(35, 35, 35, 0.90);
        margin-top: 240px;
        margin-left: 120px;
        padding: 20px;
        box-sizing: border-box;

        @include media(md) {
            text-align: center;
            margin-left: 25%;
            margin-top: 14%;
        }

        @include media(sm) {
            width: 70%;
            margin: 0 auto;
            margin-top: 18%;
        }

        @include media(xs) {
            width: 100%;
            margin-left: 0;
            margin-top: 25%;
        }

        @include media(xxs) {
            width: 100%;
            margin-left: 0;
            margin-top: 30%;
        }
    }

    // .travel__block

    &__block {
        background-image: url(../images/spain1_bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 684px;

    }

    &__header {
        margin: 0;
        @include new-font;
        color: $white-color;
        padding-top: 15px;

        // .travel__header_upprcase

        &_upprcase {
            @include new-font($default-font-name, 20px, 400, normal, 28px);
            text-transform: uppercase;
            color: $white-color;
        }
    }

    // .travel__text

    &__text {
        @include new-font($default-font-name, 16px, 300, normal, 28px, 1.6px);
        color: $white-color;
    }
}


.btn-wrapper {

    // .btn-wrapper_small

    &_small {
        padding-top: 15px;
    }
}

.btn-bottom {
    @include new-font('Aleo', 16px, 400, normal, 20px, 1.12px);
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 40px;

    &::before {
        content: '';
        position: absolute;
        background-color: $dodgerbluedarker-color;
        height: 50px;
        clip-path: polygon(0 0, 40% 0%, 100% 100%, 100% 100%, 0 100%);
        width: 95px;
        right: 87px;
        bottom: 0;
        top: 0;
        z-index: -1;
    }
}
