@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v35-latin-regular.woff2') format('woff2'),
}

body {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-size: 15px;
    max-width: 1150px;
    margin: 0 auto;
}

.nav {
    text-align: center;
}


section {
    max-width: 777px;
    margin: 0 auto;
}

.header {
    max-width: 777px;
    margin: 0 auto;
}

.section-container {
    padding: 71px 0;
}

.container {
    border-bottom: 1px solid #070707;
}

.menu {
    padding: 0;
}

.menu__item {
    list-style-type: none;
    margin: 0 auto;
    display: inline-block;
    padding: 2px 14px;
    letter-spacing: 0.36px;
}

.menu__link {
    text-decoration: none;
    color: #828282;
}

.menu__link:hover {
    color: #070707;
}


.aboutme {
    max-width: 100%;
    background-color: #F6F6F6;
}

.aboutme__title {
    padding-bottom: 39px;
}

.aboutme__text {
    margin: 0;
}

.aboutme__text:not(:last-of-type) {
    padding-bottom: 29px;
}

.portfolio__link {
    display: block;
    text-align: center;
    color: #070707;
}

p {
    text-align: center;
}

.skills__list_item,
.contacts__item {
    list-style-type: none;
}

.heroblock__title {
    font-size: 40px;
    font-weight: 700;
    margin: 12px 0;
}

h2 {
    font-size: 28px;
    text-align: center;
    margin: 0;
}

.skills__title {
    padding-bottom: 0;
}

.heroblock__img {
    padding-top: 27px;
}

.footer__button {
    border-radius: 22px;
    background-color: black;
    color: #ffff;
    font-weight: 700;
    padding: 7px 16px;
    letter-spacing: 1.8px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.skills__text {
    margin-bottom: 40px;
}

.skills__list_item {
    float: left;
}

.skills__list_item:not(:last-of-type) {
    padding-right: 90px;
}

.skills__list {
    padding: 0;
}

.skills__list::after {
    content: '';
    display: block;
    clear: both;
}

.skill-show__img {
    height: 65px;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

.skill-show {
    margin: 0 auto;
}

.skill-show__caption {
    text-align: center;
    font-size: 12px;
    color: #828282;
    font-weight: 700;
    padding-bottom: 45px;
    height: 32px;
}

.portfolio {
    max-width: 100%;
    background-color: #F6F6F6;
    margin: 0 auto;
}

.portfolio__item {
    max-width: 777px;
    margin: 0 auto;
}

.portfolio__img {
    max-width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 40px 0;
}

.portfolio__img :first-of-type {
    padding-top: 0;
}

.footer__button {
    margin-top: 50px;
    margin-bottom: 24px;
}

.contacts {
    margin: 0 auto;
    max-width: 250px;
    padding: 0;
    margin-bottom: 45px;
}

.contacts :not(:last-child) {
    padding-right: 35.5px;
}

.contacts__item {
    display: inline-block;
}

.contacts__img {
    margin: 0;
    display: block;
    height: 32px;
}

.portfolio__item {
    font-size: 12px;
}
