// colors
$periwinkle-gray: #BCD0E5;
$color-white: #FFFFFF;
$color-black: #000000;
$color-darkgray: #333333;
$color-blue-accent: #5373FD;
$color-dark-blue-accent: #486BFE;
$color-blue: #00A2FF;
$color-light-red: #FF6363;
$color-light-gray: #999999;
$color-gray-transparent: rgba(35, 35, 35, 0.90);

$border-btn-color-secondary: $periwinkle-gray;
$border-height: 50px;
$btn-font-weight: 600;
$btn-height-primary: 20px;
$btn-height-secondary: 52px;
$color-btn: $color-blue-accent;
$border-color: $color-light-gray;
$default-border: 1px solid $color-light-gray;
$default-body-color: $color-white;

// fonts
$default-font-name: 'Josefin Sans';
$font-sub-font: Aleo;
$fallback: Arial, Helvetica, sans-serif;
$default-font-size: 16px;
$font-weight: 300;
$default-font-weight: $font-weight;
$main-font: $default-font-name, $fallback;
$font-path: './fonts/';
$base-img-path: '../';
$title-font-name: 'Aleo';
$title-font: $title-font-name, $fallback;
$default-font-sub-font: $font-sub-font, $fallback;
$font-size-small: 14px;
$font-weight-name: 400;
$font-weight-title: 700;
$line-height: 20px;
$letter-spacing-menu: 1.4px;
$text-transform-upper: uppercase;
$text-transform-capit: capitalize;
$font-size-h3: 24px;
$font-size-h2: 36px;
$font-size-h1-xxs: 42px;
$font-size-h1: 48px;

$line-height-text: 28px;
$line-height-h: 40px;
$line-height-title: 52px;
$letter-spacing-btn: 1.12px;
$letter-spacing-menu: 1.4px;
$letter-spacing-text: 1.6px;
$letter-spacing-h6: 2px;
$letter-spacing: 2.4px;
$letter-spacing-holder: 2.8px;
$letter-spacing-sub-text: 6.82px;

$default-bg-color-menu-open: $color-white;
$container-padding: 15px;
$container-max-width: 1200px;
$gap: 15px;
$default-count-col: 12;
$default-width: 1320px;
$nav-height-desktop: 84px;
$nav-height-md: 136px;

$breack-points: (
    "lg": 1200px,
    "md": 992px,
    "sm": 768px,
    "xs": 576px,
    "xxs": 480px
);
