@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: #544837;
    line-height: 28px;
}

.container {
    padding: 17px 120px;
    height: 80px;
    height: 1200px;
}

.logo {
    float: left;
    width: 200px;
    height: 32px;
}

.alink {
    display: inline-block;
}

.header_buttons {
    float: right;
    max-width: 250px;
}

li {
    list-style-type: none;
}

nav {
    text-align: center;
    width: calc(100% - 205px - 245px);
}

.nav>li {
    display: inline-block;
    padding-right: 20px;
}

.nav>li:last-child {
    padding-right: 0;
}

a {
    text-decoration: none;
    color: #2F281E;
    line-height: 28px;
}

.orange {
    color: #F90;
}

.sign_in,
.sign_up {
    font-weight: 600;
    padding: 13px 25px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 4px;
    box-sizing: border-box;
}

.sign_in {
    height: 46px;
    width: 110px;
    border: 1px solid #BCD0E5;
    margin-right: 11px;
    background-color: #FFFFFF;
}

.sign_up {
    background-color: #F90;
    color: #FFFFFF;
    height: 46px;
    width: 114px;
    border: none;
    margin-left: 10px;
}

.footcont {
    width: 1200px;
    height: 349px;
    margin: 0 auto;
}

.footcont::after {
    content: '';
    clear: both;
    display: block;
}

h3 {
    font-family: "Gotham", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #2F281E;
}

.col-4 {
    width: 25%;
    float: left;
}

.footer-nav a {
    font-weight: 500;
    line-height: 26px;
    color: #544837;
}

.phonenum {
    width: 320px;
    height: 50px;
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
}

::placeholder {
    color: #BCD0E5;
    font-family: Montserrat;
    font-size: 16px;
}

.sign_up_now {
    background-color: #F90;
    color: #FFFFFF;
    height: 50px;
    width: 180px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    padding: 13px 25px;
    font-family: Poppins, Montserrat, Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}
