.footer {
    .row {
        align-items: start;
    }

    &__title {
        padding-bottom: 30px;
        @include h4;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__link {
        text-decoration: none;
        color: inherit;
    }

    &__link:hover {
        color: $orang-color;
    }
}
