.header {
    width: 100svw;
    height: 100svh;
    background: url(#{$base-img-pass}images/header/HeaderBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    position: relative;
}

.hero {

    // .hero__content

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    // .hero__logo

    &__logo {
        padding-top: 280px;
        padding-bottom: 8px;

        @include media (xxs) {
            // padding-top: 20px;
        }
    }

    // .hero__subtitle

    &__subtitle {
        font-size: 22px;
        font-weight: 400;
        letter-spacing: 6.82px;
        padding-bottom: 48px;

        @include media (xxs) {
            text-align: center;
            letter-spacing: 4.82px;
        }
    }

    // .hero__wrapper

    &__wrapper {
        margin-bottom: 190px;

        @include media (md) { 
            margin-bottom: 130px;
        }
    }

    // .hero__svg

    &__svg {
        width: 16px;
        height: 16px;
        fill: $white-color;

        // .hero__svg-search
        &-search {
            padding-right: 12px;

            @include media (xs) {
                padding: 0;
            }
        }

        // .hero__svg-down
        &-down {
            padding: 0;
        }
    }

    // .hero__scroll

    &__scroll {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: $white-color;
    }
}

.input {

    // .input__wrapper

    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 647px;
        height: 60px;
        background-color: $white-color;

        @include media () {
            width: 540px;
        }

        @include media (xs) {
            width: 480px;
        }

        @include media (xxs) {
            width: 300px;
        }
    }

    // .input__item

    &__item {
        width: 277px;
        border: none;
        padding-left: 36px;
        font-family: inherit;
        font-style: inherit;

        @include media (xs) {
            height: 52px;
            padding-left: 16px;
        }

        @include placeholder () {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 2.8px;
            color: $gray-color;

            @include media (xs) {
                letter-spacing: 2px;
            }
        }
    }

    // .input__btn

    &__btn {

        &.btn {
            margin: 4px 5px 4px 0;

            @include media (xs) {
                width: 70px;
            }
        }
    }

    // .input__btn-text

    &__btn-text {
        @include media (xs) {
            display: none;
        }
    }
}
