.header {
    position: relative;
    background-image: url(#{$base-img-path}images/headerbackground.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;

    //header__container-main
    &__container-main {
        position: relative;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
    }

    // .header__menu

    &__menu {
        background-color: $default-bg-color-nav;
        box-sizing: border-box;
    }

    &__main-title {
        @include fonts-type($default-font-name, $font-size-h1, $font-weight-title, $line-height-title, normal, $text-transform-upper);
        margin: 0 0 8px;
    }

    &__title-sub-text {
        @include fonts-type($default-font-name, $font-size-logo-sub, $font-weight-name, $line-height-text, $letter-spacing-sub-text, none);
        margin: 0 0 48px;
    }
}

.main-wrap {
    text-align: center;
    position: absolute;
    bottom: 10%;
}

.logo {
    @include fonts-type($default-font-name, $font-size-h3, $font-weight-title, $line-height-text, $letter-spacing, $text-transform-upper);
}

.main {

    // .main__link

    &__link {
        text-decoration: none;
        display: inline-block;
        padding: 0 15px;

    }

    // .main__icon-img

    &__icon-img {
        height: 16px;
        width: 16px;
        bottom: 0;
    }
}

.scroll-down {
    text-align: center;
    @include fonts-type($default-font-name, $font-size-small, $font-weight-name, $line-height, $letter-spacing-holder, none);
    color: $color-white;
    margin-bottom: 0;

    &:hover {
        text-decoration: underline;
    }
}

.icon-white {}

.menu-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    // gap: 20px;
    align-items: center;

    @include media(md) {
        gap: 10px;
    }

    @include media(sm) {
        display: block;
    }
}

.menu {
    position: relative;
    // .menu__logo

    &__logo {
        margin: 28px 0;
    }

    // .menu__logo-link

    &__logo-link {
        text-decoration: none;
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }

    // .menu__items

    &__items {
        margin: 20px 0;


        @include media(sm) {
            // position: fixed;
            position: absolute;
            z-index: 5;
            top: 50%;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: $default-bg-color-nav;
            text-align: center;
            transform: translateX(-100%);
            transition: transform .3s ease-in-out;

            .menu-open-input:checked~& {
                transform: translateX(0);
            }
        }
    }

    // .menu__item

    &__item {
        white-space: nowrap;

        @include media(sm) {
            margin: 20px;
        }
    }

    // .menu__link

    &__link {
        text-decoration: none;
        display: inline-block;
        padding: 0 20px;
        color: $color-white;

        @include fonts-type($font-sub-font, $font-size-small, $font-weight-name, $line-height, $letter-spacing-menu, $text-transform-upper);

        &:hover {
            text-decoration: underline;
        }

        @include media(md) {
            padding: 10px;
        }

        @include media(sm) {
            padding: 10px;
        }
    }
}

.header-flex {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.menu-open {}

.menu-open-input {
    @include visuality-hidden;
}

.menu-open-label {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    // border: $default-border;

    .menu-open-input:checked+& {
        .menu-open-label__line {
            background-color: transparent;

            &::before {
                top: 0;
                transform: rotate(45deg);
            }

            &::after {
                bottom: 0;
                transform: rotate(-45deg);
            }
        }
    }


    // .menu-open-label__line

    &__line {
        position: relative;
        display: block;
        width: 85%;
        background-color: $default-bg-color-menu-open;
        height: 4px;
        border-radius: 4px;
        transition: background-color .2s ease-in-out;

        &::before,
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: $default-bg-color-menu-open;
            border-radius: inherit;
            position: absolute;
            transition: all .3s ease-in-out;
        }

        &::before {
            top: -12px;
        }

        &::after {
            bottom: -12px;
        }
    }
}
