.block__one,
.block__two {
    padding-left: 40px;
}

.block__one h4,
.block__two h4 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: $color-darkgray;
}

.quick__links {
    @include links;
}

.legal__links {
    @include links;
}
