@import "./logo";
@import "./menu";
@import "./buttons";

.header {
    .container {
        @include flexnew();
    }

    .search {
        @include flex;

        &__fields {
            //@extend %flex-jst-wrap;
            @include flexnew(flex-end, nowrap);
        }
    }


    .logo {
        @include test {
            font-size: 50px;

            img {
                width: 50px;
            }
        }

        background-color: aqua;

        &+.search {
            padding: 15px;
        }
    }

    >.menu {
        background-color: red;
    }

    .menu {
        padding: 15px;

        &__wrapper {
            list-style-type: none;
        }

        &__link {
            font-size: 25px;

            &:hover {
                color: red;
            }

            &::after {
                content: 'sdfdsf';
            }
        }
    }
}

.menu {
    &__wrapper {
        @extend %flex-jst-wrap;
    }

    &__link {
        .active & {
            color: red;
        }

        &.active {
            color: red;
        }
    }

    &__item {
        &:hover {
            &+.menu__item .menu__link {
                color: green;
            }
        }
    }
}

.logo {
    @extend %posfix-center;
}
