.footer {
    align-items: flex-start;
    margin-bottom: 70px;
}

.links {

    // .links__caption

    &__caption {
        padding-bottom: 30px;
    }

    // .links__item

    &__item {
        padding-bottom: 15px;

        &:last-child {
            padding-bottom: 0;
        }
    }

    // .links__url

    &__url {
        color: $color-gray;
    }
}

.input {

    // .input__caption

    &__caption {
        padding-bottom: 25px;
    }

    // .input__block

    &__block {
        padding-bottom: 25px;
    }

    // .input__box

    &__box {
        @include border ();
        border-radius: 4px;
        width: 340px;
        height: 50px;

        @include placeholder {
            color: $color-lightblue;
            padding-left: 10px;
        }
    }
}
