.row {
    align-items: flex-start;
}

.footer {
    margin-bottom: 70px;

    // .footer__caption

    &__caption {
        padding-bottom: 30px;
    }

    // .footer__item

    &__item {
        &:not(:last-child) {
            padding-bottom: 15px;
        }
    }

    // .footer__link

    &__link {
        color: $color-darkgray;

        &:hover {
            color: $color-orange;
        }
    }
}


.input {

    // .input__label

    &__label {
        font-weight: $headline-font-weight;
        color: $color-darkgray;
        font-size: $h4-font-size;
        line-height: 30px;
    }

    // .input__box

    &__box {
        margin-top: 25px;
        margin-bottom: 25px;
        border-radius: 4px;
        border: 1px solid $color-lightblue;
        width: 340px;
        height: 50px;
        padding-left: 10px;
        margin-top: 25px;
        margin-bottom: 25px;

        @include placeholder {
            color: $color-lightblue;
        }
    }
}
