.booknow-first {
    background: url(../images/booknow-first.jpg) center;
    background-size: cover;

    @include media(md) {
        padding: 15px;
    }

    &__sub-title {
        font-size: 20px;
        padding-bottom: 16px;
        letter-spacing: 2px;

    }

    &__title {
        padding-bottom: 16px;
    }

    &__text {
        padding-bottom: 24px;
    }
}

.booknow-first-wrapper {
    padding: 32px;
    margin-top: 220px;
    margin-bottom: 120px;
    background-color: #333;
    opacity: 0.9;



    @include media(md) {
        margin-top: 120px;
        margin-bottom: 120px;

    }

}
