@include font-face ('josefin-sans-v32-latin-300', 300);
@include font-face ('josefin-sans-v32-latin-regular', 400);
@include font-face ('josefin-sans-v32-latin-700', 700);
@include font-face ('aleo-v14-latin-regular', 400, $font-second-font);

@include grid();

body {
    font-family: $main-font;
    color: $color-white;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.logo {
    @include fonts-type ($main-font, $font-size-24, $font-weight-700, $line-height-28, 2.4px);
    color: $color-white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 100%
}


.title-h1 {
    @include fonts-type ($main-font, $font-size-48, $font-weight-700, $line-height-52);
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
}

.title-h2 {
    @include fonts-type ($font-second-font, $font-size-36, $font-weight-400, $line-height-40);
    color: $color-white;
}


.display-none {
    display: none;
}

.text {
    @include fonts-type ($main-font, $font-size-16, $font-weight-300, $line-height-28, 1.6px);
    color: $color-white;
}

.title-h3 {
    @include fonts-type ($main-font, $font-size-20, $font-weight-400, $line-height-28);
    color: $color-white;
    text-transform: uppercase;
}

// br {
//     @include media(lg) {
//         display: none;
//     }
// }

.enter {
    display: block;
}
