.lt-news {
    background: linear-gradient(237deg, #24CCFA 11.16%, #3C7FD4 89.18%);
    padding-bottom: 120px;

    h1 {
        padding-top: 150px;
        text-align: center;
        margin-top: 150px;
        margin-bottom: 90px;

        &::before {
            content: "";
            display: block;
            width: 100px;
            height: 3px;
            background: #fff;
            margin: 0 auto;
            margin-bottom: 30px;
        }
    }

    &__carousel {
        max-width: 1050px;
        margin: 0 auto;
        display: flex;

        @include media(lg) {
            max-width: 850px;

        }

        @include media(md) {
            max-width: 650px;

        }

        @include media(sm) {
            max-width: 350px;

        }
    }
}

.frame__card {
    // width: 300px !important;
    height: 500px;
    background: #fff;
    color: #000;
    margin: 20px;
    padding: 0;

    &-text {
        padding: 10px;
    }
}

.dot {
    width: 40px;
    height: 50px;
    display: flex;
    gap: 20px;
    margin: 0 auto;
    justify-content: center;

    li>button {

        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
        width: 10px;
        height: 13px;
        margin: 20px auto;
        border-radius: 50%;
        border: 1px solid #fff;
        cursor: pointer;
        transition: all 300ms ease-out;


    }

    li.slick-active button {
        opacity: 1;
        font-size: 0;
        background-color: #fff;
        z-index: 1000;
    }
}

button.slick-prev,
button.slick-next {
    position: absolute;
    top: 50%;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    width: 50px;
    height: 45px;
    margin: 20px auto;
    border-radius: 50%;
    cursor: pointer;
    transition: all 300ms ease-out;
}

button.slick-next {
    right: -55px;

    &::before {
        content: "";
        background-image: url("../../images/arrow-down.svg");
        background-repeat: no-repeat;
        transform: rotate(-90deg);
        padding: 5px;
        display: block;
        width: 40px;
        height: 40px;
        margin: 0 auto;
        font-size: 20px;
    }
}

button.slick-prev {
    left: -65px;

    &::before {

        content: "";
        background-image: url("../../images/arrow-down.svg");
        background-repeat: no-repeat;
        transform: rotate(90deg);
        padding: 5px;
        display: block;
        width: 40px;
        height: 40px;
        margin: 0 auto;
        font-size: 20px;
    }
}
