.menu {
    position: relative;
    // .menu__logo

    &__logo {
        margin: 28px 0;
    }

    // .menu__logo-link

    &__logo-link {
        text-decoration: none;
        color: inherit;
        margin: 0;

        &:hover {
            text-decoration: underline;
        }
    }

    // .menu__items

    &__items {
        margin: 20px 0;


        @include media(sm) {
            position: fixed;
            z-index: 5;
            top: 0;
            right: 0;
            left: 0;
            background-color: $default-bg-color-nav;
            text-align: center;
            transform: translateX(-100%);
            transition: transform .3s ease-in-out;
            padding-top: 50px;
            margin: 0;

            .menu-open-input:checked~& {
                transform: translateX(0);
            }
        }
    }

    // .menu__item

    &__item {
        white-space: nowrap;

        &:last-child {
            padding: 0;
        }

        @include media(sm) {
            &:not(:last-child) {
                border-top: $default-border;
            }
        }
    }

    // .menu__link

    &__link {
        text-decoration: none;
        display: block;
        color: $color-white;
        padding: 0 20px;

        @include fonts-type($font-sub-font, $font-size-small, $font-weight-name, $line-height, $letter-spacing-menu, $text-transform-upper);

        &:hover {
            text-decoration: underline;
        }

        @include media(md) {
            padding: 10px;
        }

        @include media(sm) {
            padding: 20px;
        }
    }
}

.header {

    // .header__menu

    &__menu {
        background-color: $default-bg-color-nav;
        box-sizing: border-box;
    }
}

.header-flex {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.logo {
    @include fonts-type($default-font-name, $font-size-h3, $font-weight-title, $line-height-text, $letter-spacing, $text-transform-upper);
}

.menu-open-input {
    @include visuality-hidden;
}

.menu-open-label {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;


    .menu-open-input:checked+& {
        .menu-open-label__line {
            background-color: transparent;

            &::before {
                top: 0;
                transform: rotate(45deg);
            }

            &::after {
                bottom: 0;
                transform: rotate(-45deg);
            }
        }
    }

    // .menu-open-label-center
    &-center {
        position: fixed;
        top: 0;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
    }

    // .menu-open-label__line

    &__line {
        position: relative;
        display: block;
        width: 85%;
        background-color: $default-bg-color-menu-open;
        height: 4px;
        border-radius: 4px;
        transition: background-color .2s ease-in-out;

        &::before,
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: $default-bg-color-menu-open;
            border-radius: inherit;
            position: absolute;
            transition: all .3s ease-in-out;
        }

        &::before {
            top: -12px;
        }

        &::after {
            bottom: -12px;
        }

        &-menu-small {
            background-color: transparent;

            &::before {
                top: 0;
                transform: rotate(45deg);
            }

            &::after {
                bottom: 0;
                transform: rotate(-45deg);
            }
        }
    }
}

.menu-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;

    @include media(md) {
        gap: 10px;
    }

    @include media(sm) {
        display: block;
    }
}
