.header-line {
    background-color: $violet-color;
    padding: 32px 300px;
    margin-top: 95px;

    .col-12 {
        @extend %flex-jst-wrap;
        padding: 0;
    }
}

.logo {
    margin: 0;
    @include font-family(700, 24px);
    letter-spacing: 2.4px;
}

.nav {}

.menu {
    @extend %flex-jst-wrap;
    @extend %ul-not-marker;
    gap: 40px;

    &__link {
        @include font-family(400, 14px, $default-font-color, 20px, $sub-font);
        letter-spacing: 1.4px;
        text-transform: uppercase;
    }
}
