.benefits__list {

    @media screen and (max-width: 768px) {
        text-align: center;
    }

    padding-top: 40px;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;


    & .benefits__items {
        color: $color-darkgray;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        padding-bottom: 10px;

        p {
            color: $color-lightgray;
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
        }
    }
}
