body {
    font-family: $main-font;
    font-size: $default-font-size;
    font-weight: $default-font-weight;
    font-style: $default-font-style;
    line-height: $default-line-height;
    letter-spacing: $default-letter-spacing;
    color: $pickled-bluewood;
    overflow-x: hidden
}

h1 {
    font-family: $secondary-font;
    font-size: $h1-font-size;
    font-weight: $h1-font-weight;
    line-height: $h1-line-height;
    letter-spacing: $h1-letter-spacing;
    color: $h1-color;
    // text-transform: uppercase;
}

h2 {
    font-family: $secondary-font;
    font-size: $h2-font-size;
    font-weight: $h2-font-weight;
    line-height: $h2-line-height;
    letter-spacing: $h2-letter-spacing;
    color: $h2-color;
    // text-transform: capitalize;
}

h3 {
    font-family: $secondary-font;
    font-size: $h3-font-size;
    font-weight: $h3-font-weight;
    line-height: $h3-line-height;
    letter-spacing: $h3-letter-spacing;
    text-transform: uppercase;
}

h4 {
    font-family: $secondary-font;
    font-size: $h4-font-size;
    font-weight: $h4-font-weight;
    text-transform: uppercase;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.hidden {
    display: none
}

.icon {
    width: 40px;
    height: 40px;
}

@include grid();

.mobile-only {
    @include media-m(sm) {
        display: none !important;
    }
}

.desktop-only {
    @include media(sm) {
        display: none !important;
    }
}
