.footer {
    background-color: $color-black;
    padding: 80px 0;

    @include media() {
        padding-top: 60px;
        padding-bottom: 80px;
    }


    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__text {
        padding-top: 10px;
        @include fonts-type ($main-font, $font-size-14, $font-weight-400, $line-height-20, 2.8px);
        color: $color-white;
    }
}

.links {

    &__wrapper {
        padding-top: 20px;
        display: flex;
    }

    &__item {


        &:not(:last-child) {
            padding-right: 32px;
        }
    }


    &__svg {
        fill: $color-white;

        &-blue {
            fill: $color-darkblue;
        }
    }
}
