@import "./menu";
@import "./socials";


.header {
    // .header__container

    &__container {
        margin-top: 47px;

        @include media () {
            margin-top: 15px;
        }
    }

    // .header__logo

    &__logo{
        display: flex;
        align-items: center;
        padding-left: 15px;
    }

}

.bg-header {
    background-color: $hero-gradient;
}
