.about {
    margin-bottom: 150px;
    position: relative;
    width: 100vw;

    // .about__heading

    &__heading {
        position: relative;
        margin-top: 130px;
        padding-bottom: 130px;
        text-align: center;

        &::before {
            @extend %heading-pseudo;
            top: -20%;
        }
    }

    // .about__img-wrapper

    &__img-wrapper {
        padding-bottom: 162px;
        z-index: 100;
    }

    // .about__img

    &__img {
        display: block;
        aspect-ratio: 3/4;
        object-fit: cover;
        object-position: top;

        @supports not (aspect-ratio: 3/2) {
            height: 470px;
        }
    }

    // .about__content-wrapper

    &__content-wrapper {
        padding-right: 40px;

        &-reverse {

            padding-left: 40px;
        }
    }

    // .about__suptitle

    &__suptitle {
        font-family: $secondary-font;
        font-size: 22px;
        line-height: normal;
        padding-top: 84px;
    }

    // .about__title

    &__title {
        padding-bottom: 19px;
    }

    // .about__content

    &__content {
        width: 470px;
        padding-bottom: 40px;
    }

    // .about__btn

    &__btn {
    }

    // .about__subcontent

    &__subcontent {
        color: $black-color;
        font-size: 15px;
        font-style: italic;
        padding-top: 60px;
    }

    // .about__icon

    &__icon {
        width: 9px;
        height: 17px;
    }

    // .about__img-wrapper-reverse
    
    &__img-wrapper{
        text-align: end;

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 470px;
            background-color: $malibu;
            left: -62%;
            top: 268px;
            z-index: -10;
        }
    
        &-reverse {
            padding-left: 15px;

            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 470px;
                background-color: $heliotrope;;
                bottom: 74px;
                right: -64%;
                z-index: -10;
            }
        }
    }
}

.btn {

    // .btn__wrapper

    &__wrapper {
    }
}

.btn-primary {
}

.icon {
}

.subcontent-text {
    padding-left: 5px;
}

.location {
    color: $black-color;
}
