.gallery {
    padding-top: 150px;

    // .gallery__heading

    &__heading {
        position: relative;
        padding-bottom: 45px;
        text-align: center;
        color: $pickled-bluewood;

        &::before {
            @extend %heading-pseudo;
            top: -36%;
        }
    }

    // .gallery__wrapper

    &__wrapper {
        padding-top: 45px;
        padding-bottom: 30px;
        display: grid;
        justify-content: center;
        gap: 10px;
        grid-template-columns: repeat(auto-fit,minmax(290px, min-content));
        grid-auto-rows: 215px;
        grid-auto-flow: dense;
    }

    // .gallery__item

    &__item {

        &-big {
            grid-column: span 2;
            grid-row: span 2;
        }
    }

    // .gallery__img

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: relative;
    }

    // .gallery__btn

    &__btn {
        margin: 5px;
    }

    // .gallery__btn-wrapper

    &__btn-wrapper {
        display: flex;
        justify-content: center;
        padding-bottom: 150px;
        padding-top: 30px;
    }

    ._hidden{
        display: none;
    }
}



