.menu {
    list-style-type: none;
}

.menu__item .menu__link {
    color: #828282;
    text-decoration: none;
    padding-right: 40px;
}

li {
    display: inline;
    text-shadow: lightgrey 0 3px 3px;
    border-bottom: 1px solid black;
    padding-bottom: 28px;
}

.menu__link:link {
    color: #828282;
}

.menu__link:visited {
    color: #828282;
}

.menu__link:hover {
    color: black;
}

.container {
    padding: 38px 250px 100px 250px;
}

.heading {
    font-size: 47px;
    font-weight: 700;
}

.section {
    background-color: #F6F6F6;
    padding: 100px 488px 100px 488px;
}


.aboutme p span {
    display: block;
    line-height: 28px;
}

.aboutme h2 {
    font-size: 34px;
    font-weight: 700;
}

.figures>div {
    max-width: 937px;
    display: inline-block;
    padding-bottom: 80px;
    margin: 0 auto;
    padding-right: 100px;
}

.figures>div:first-child {
    padding-left: 90px;
}

figcaption {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 35px;
}


.figures img {
    display: inline-block;
    margin: 0 auto;
}


.skills h2 {
    font-size: 34px;
    font-weight: 700;
}

.skills h3 {
    font-weight: 400;
    padding-bottom: 40px;
}


.portfolio-list {
    background-color: #F6F6F6;
}

.fashion-store h2 {
    padding: 50px 637px 67px 637px;
    font-size: 34px;
}

.portfolio-list img {
    display: block;
    margin: 0 auto;
}

.portfolio-list>div {
    padding-top: 70px;
}

.portfolio-list div:last-child {
    padding-bottom: 70px;
}

.portfolio-list a {
    color: black;
}

.portfolio-list a:active {
    color: black;
}

.portfolio-list a:hover {
    color: purple;
}

.footer {
    max-width: 936px;
    display: block;
    padding: 100px 552px 159px 552px;
}

.footer h2 {
    font-size: 34px;
    font-weight: 700;
}

.contacts-text span:nth-child(2) {
    padding-bottom: 50px;
}

.button {
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    padding: 11px 18px;
    letter-spacing: 2.5px;
    border-radius: 24px;
}

.footer-links {
    display: inline-block;
    margin: 0 auto;

}

.footer-links img {
    padding-top: 60px;
}


.footer-links a {
    padding-right: 40px;
}

.footer-text {
    color: #828282;
    font-size: 14px;
    font-weight: 400;
}

p span {
    display: block;
    line-height: 24px;
}
