.menu {
    text-align: center;
    list-style-type: none;
}

.menu__item .menu__link {
    color: #828282;
    text-decoration: none;
    padding-right: 40px;
}

li {
    display: inline;
    text-shadow: lightgrey 0 3px 3px;
}

.menu__link:link {
    color: #828282;
}

.menu__link:visited {
    color: #828282;
}

.menu__link:hover {
    color: black;
}

.header {
    border-bottom: 1px solid black;
}

.container {
    text-align: center;
    padding: 38px 250px 100px 250px;
}

.heading {
    font-size: 47px;
    font-weight: 700;
}

.section {
    background-color: #F6F6F6;
    padding: 100px 488px 100px 488px;
}

.aboutme {
    text-align: center;
}

.aboutme p span {
    display: block;
    line-height: 28px;
}

.aboutme h2 {
    font-size: 34px;
    font-weight: 700;
}

.skill-set .skills {
    text-align: center;
}

.figures {
    display: flex;
    padding-bottom: 80px;
    padding-left: 220px;
}

.figures .figure-one {
    padding-right: 94px;
}

.figures .figure-two {
    padding-right: 94px;
}

.figures .figure-three {
    padding-right: 94px;
}


.figures img {
    display: inline-block;
    padding-top: 36px;
}

.figures figcaption {
    text-align: center;
}

.skills h2 {
    font-size: 34px;
    font-weight: 700;
}

.skills h3 {
    font-weight: 400;
}


.portfolio-list {
    background-color: #F6F6F6;
}

.fashion-store h2 {
    text-align: center;
    padding: 100px 637px 67px 637px;
    font-size: 34px;
}

.portfolio-list img {
    display: flex;
    margin-left: 340px;
    margin-right: 340px;
    padding-bottom: 166px;
}

.portfolio-list a {
    text-align: center;
}

.footer {
    display: block;
    text-align: center;
    padding: 100px 552px 159px 552px;
}

[class$="text"] {
    text-align: center;
}

.footer h2 {
    font-size: 34px;
    font-weight: 700;
}

.contacts-text p:nth-child(2) {
    padding-bottom: 50px;
}

.button {
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    padding: 11px 18px;
    letter-spacing: 2.5px;
    border-radius: 24px;
}

.footer-links {
    display: inline;
    padding-top: 44px;
    padding-bottom: 24px;
    padding-left: 60px;
}

.footer-links a img {
    display: inline;
    text-align: center;
    padding-right: 60px;
}

.footer-text {
    color: #828282;
    font-size: 14px;
    font-weight: 400;
}

p span {
    display: block;
    line-height: 24px;
}
