.heading {

    &__top {
        text-align: center;
        color: $color-subgray;
        font-family: 'Raleway', $fallback;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        text-transform: uppercase;
        padding-bottom: 15px;
    }

    &__bottom {
        margin: 0 auto;
        color: $color-gold;
        text-align: center;
        font-family: 'Roboto', $fallback;
        font-size: 60px;
        font-weight: 900;
        line-height: 66px;
        padding-bottom: 40px;
        text-transform: uppercase;
        position: relative;

        &::after {
            content: '';
            border-bottom: 1px solid $color-gold;
            position: absolute;
            width: 450px;
            top: 100px;
            right: -25%;
            z-index: -1;
        }

        &::before {
            content: '';
            position: absolute;
            background-image: url(../images/bonfire-sharp.svg);
            border-left: 5px solid $color-white;
            border-right: 5px solid $color-white;
            padding: 40px 7px;
            background-repeat: no-repeat;
            background-position: center;
            top: 60px;
            left: 46%;
        }
    }
}
