.line {
    &::before {
        content: '';
        border-left: 1px solid $color-gold;
        height: 560px;
        position: absolute;
    }
}

.info {
    position: relative;
    top: 70px;
    left: 50px;
}

.fullname {
    text-align: center;
    vertical-align: text-top;
    font-family: $default-font-name;
    color: $color-gray;
    font-size: 36px;
    font-weight: 900;
    text-transform: capitalize;
    padding-bottom: 30px;


    &::after {
        content: '';
        border-bottom: 1px solid $color-gold;
        width: 100px;
        padding-bottom: 65px;
        left: 230px;
        position: absolute;
    }
}

.skill {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-family: 'Raleway', $fallback;
    color: $color-gray;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-transform: capitalize;
}

.web {

    &__links {
        display: flex;
        justify-content: center;
        gap: 5px;
        padding-bottom: 50px;
    }
}

.description {
    width: 430px;
    height: 116px;
    text-align: center;
    color: $color-darkgray;
    font-family: 'Raleway', $fallback;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    padding-bottom: 20px;
    position: relative;
    left: 70px;

    &::after {
        content: '';
        position: absolute;
        border-bottom: 4px solid $color-gold;
        width: 20px;
        top: 135px;
        right: 204px;
        border-left: 4px solid $color-white;
        border-right: 4px solid $color-white;
    }

    &::before {
        content: '';
        position: absolute;
        border-bottom: 4px solid $color-gold;
        width: 50px;
        top: 135px;
        left: 191px;
    }

}


.button {
    text-align: center;
    padding-top: 50px;
}

.button__profile {
    text-align: center;
    color: $color-gray;
    font-family: 'Open Sans', $fallback;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    border: 1px solid $color-gold;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
        background-color: $color-gold;
        color: $color-white;
    }

}
