.line {
    &::before {
        content: '';
        border-left: 1px solid $color-gold;
        height: 560px;
        position: absolute;
        left: -75px;
        top: 0;
    }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.fullname {
    vertical-align: text-top;
    font-family: $default-font-name;
    color: $color-gray;
    font-size: 36px;
    font-weight: 900;
    text-transform: capitalize;
    padding-bottom: 30px;
    position: relative;


    &::after {
        content: '';
        border-bottom: 1px solid $color-gold;
        width: 100px;
        padding-bottom: 65px;
        left: 60px;
        position: absolute;
    }
}

.skill {
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Raleway', $fallback;
    color: $color-gray;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-transform: capitalize;
}

.web {

    &__links {
        display: flex;
        justify-content: center;
        gap: 5px;
        padding-bottom: 50px;
    }
}

.description {
    width: 430px;
    height: 116px;
    color: $color-darkgray;
    font-family: 'Raleway', $fallback;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;

    &::before,
    &::after {
        position: absolute;
        content: '';
        background-color: $color-gold;
        height: 4px;
    }

    &::after {
        width: 30px;
        bottom: -20px;
        right: 46%;
        border-left: 5px solid $color-white;
        border-right: 5px solid $color-white;
        z-index: 1;
    }

    &::before {
        content: '';
        display: block;
        width: 50px;
        bottom: -20px;
        left: 44.6%;
        z-index: -1;
    }

}



.button {
    text-align: center;
    padding-top: 50px;
}

.button__profile {
    text-align: center;
    color: $color-gray;
    font-family: 'Open Sans', $fallback;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    border: 1px solid $color-gold;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
        background-color: $color-gold;
        color: $color-white;
    }

}
