@import "./blog";
@import "./news";

.main__container {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main__title {
    text-align: center;
    padding: 15px 0;
}
