.hero {
    height: 100vh;
    // position: relative;
    // background-image: url(../../images/header-hero.jpg);
    // background-image: linear-gradient(to right, rgba(85, 183, 255, 0.7), rgba(126, 90, 255, 0.7));
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
}

.hero-slider {
    height: 100%;

    // .slider__block

    &__block {
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &:nth-child(n+2) {
            display: none;
        }

        .slick-initialized & {
            &:nth-child(n+2) {
                display: block;
            }
        }

        &__container {
            position: absolute;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 2;
            background-image: linear-gradient(to right, rgba(85, 183, 255, 0.7), rgba(126, 90, 255, 0.7));
        }

        // position: relative;
        // overflow: hidden;
    }

    // .slider__img

    &__img {
        // display: block;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        object-fit: cover;
        object-position: center;
        z-index: 1;
        height: 100vh;
        // opacity: .7;
    }

    // .slider__text

    &__text {
        // position: absolute;
        // z-index: 10;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        // text-align: center;
    }

    // .slider__title

    &__title {
        // white-space: nowrap;
        // color: $header-title;
        // font-size: 80px;
        // font-weight: 700;
        // letter-spacing: 8px;
        // margin: 0 0 20px;
    }

    &__sub-title {
        //     white-space: nowrap;
        //     color: $header-title;
        //     font-size: 44px;
        //     font-weight: 700;
        //     letter-spacing: 8px;
        //     margin: 0 0 20px;
    }

    // .slider__sub-text

    &__sub-text {
        // color: $header-title;
        // font-size: 18px;
        // font-weight: 400;
        // letter-spacing: 5.4px;
        // text-transform: uppercase;
    }
}

.anchor-down-click {
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-img {}

/* Слайдер */
.slick-slider {}

/* Слайдер запущен */
.slick-slider.slick-initialized {}

/* Слайдер с точками */
.slick-slider.slick-dotted {}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.hero-slider .slick-track {
    display: block;
}

/* Слайд */
.slick-slide {}

/* Слайд активный (показывается) */
.slick-slide.slick-active {}

/* Слайд основной */
.slick-slide.slick-current {}

/* Слайд по центру */
.slick-slide.slick-center {}

/* Клонированный слайд */
.slick-slide.slick-cloned {}

/* Стрелка */
// .slider .slick-arrow {
//     position: absolute;
//     width: 100%;
//     z-index: 10;
// }

/* Стрелка влево */
// .slider .slick-arrow.slick-prev {
//     top: 0;
// }

/* Стрелка вправо */
// .slider .slick-arrow.slick-next {
//     bottom: 0;
// }

/* Стрелка не активная */
.slick-arrow.slick-disabled {}

/* Точки (булиты) */
.hero-slider .slick-dots {
    bottom: unset;
    width: auto;
    top: 50%;

}

/* Список точок */
.hero-slider .slick-dots li {
    list-style: none;
    margin: 10px 0;
}

/* Елемент точки */
.hero-slider .slick-dots li button {
    font-size: 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid $color-white;
    border-color: $color-white;
    background-color: transparent;
    padding: 0;
}

/* Активна точка */
.hero-slider .slick-dots li.slick-active button {
    background-color: $color-white;
}

.slick-slide {}
