@include font-face('montserrat-v25-latin-500');
@include font-face('montserrat-v25-latin-600', 600);
@include font-face('montserrat-v25-latin-700', 700);
@include font-face('montserrat-v25-latin-regular', 400);
@include font-face('poppins-v20-latin-700', 700, normal, $button-font-name);
@include font-face('figtree-v4-latin-700', 700, normal, $gotham-font-name);

body {
    font-weight: 500;
    background-color: $default-body-color;
    color: $color-text;
    line-height: 26px;
}

body,
a {
    font-family: $main-font;
    font-size: 16px;
}

@include grid;

section {
    padding-bottom: 100px;
}

section:first-of-type {
    padding-top: 70px;
}

section:last-of-type {
    padding-bottom: 0;
}

.container {

    // .container__centered

    &__centered {
        margin: 0 auto;
        text-align: center;
        width: 539px;
        padding-bottom: 30px;
    }
}

a {
    text-decoration: none;
    color: $color-text;
}
