.image__design {
    img {
        width: 100%;
    }
}

.image__professionals {
    padding-left: 60px;

    img {
        width: 100%;
    }
}

.image__managers {

    img {
        width: 100%;
    }
}

.image__marketers {
    padding-left: 60px;

    img {
        width: 100%;
    }
}
