body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #544837;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.menu,
.footer__links,
.footer__menu,
.list-block {
    list-style-type: none;
    padding: 0;
}

.header__menu,
.footer__block {
    display: flex;
    align-items: flex-start;
}

.header__menu {
    margin: 17px 0;
}

.logo__img {
    margin-top: 5px;
}

.img-back {
    background-image: url(../images/half-oval.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.hero_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    justify-content: space-between;
}

.menu {
    gap: 20px;
}

.menu__link:link,
.menu__link:visited {
    color: #2F281E;
    text-decoration: none;
    font-weight: 400;
}

.menu__link:hover,
.menu__link:focus {
    color: #F90;
    font-weight: 400;
}

button {
    font-size: 16px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-third__item,
.btn-second__item {
    color: #fff;
    background-color: #F90;
    border: 1px solid #F90;
}

.btn-first__item {
    color: #000000;
    border: 1px solid #BCD0E5;
    background-color: #fff;
}

.btn-third__item {
    padding: 13px 40px;
}

.btn-first__item,
.btn-second__item {
    padding: 13px 25px;
    display: inline-block;
}

header button {
    float: right;
}

.header__button button:first-child {
    margin-left: 32px;
}

.footer__logo,
.footer__links,
.footer__stuff,
.footer__form {
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .menu__item {
    text-align: left;
    margin-bottom: 15px;
}

h1 {
    color: #2F281E;
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
    margin: 30px 0;
}

h2 {
    color: #2F281E;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h4 {
    color: #2F281E;
    font-weight: 700;
    margin: 0 0 10px;
}

h5 {
    color: #544837;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin: 0 0 30px 0;
    text-align: left;
}

.hero__text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    width: 100%;
}

.footer__form span {
    font-size: 16px;
    font-weight: 700;
}

input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    min-height: 30px;
    width: 100%;
    max-width: 340px;
    box-sizing: border-box;
}

input[type="tel"]::placeholder {
    color: #BCD0E5;
}

.center-text {
    text-align: center;
}

.tools__item {
    width: 100%;
    height: 100%;
    padding: 0 10px 0 10px;
    align-items: stretch;
}

.center-text>h2,
.tools__item>img {
    margin-bottom: 30px;
}

.tools_block {
    margin-bottom: 70px;
}

.sign_btn {
    padding-bottom: 70px;
}

.tools__item>p {
    margin: 0;
}

.tools__item>h3 {
    margin: 0 0 16px 0;
    color: #2F281E;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.tools__item>img .sign_btn {
    padding: 70px;
}

.hero__img img {
    width: 100%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.col-6 {
    width: 50%;
}

.hero_block {
    margin: 70px 0 100px;
}

.main_container,
footer {
    padding: 100px 0;
}

.main_container .row:not(:last-child) {
    margin-bottom: 100px;
}

.done-item {
    display: flex;
    gap: 30px;
    align-items: center;
}

.done-item:not(:last-child),
.list-block li:not(:last-child) {
    margin: 0 0 30px;
}

.done-item p,
.list-block p {
    margin: 0;
}

.main_container p {
    line-height: 26px;
}

h2+p {
    margin: 0 0 40px;
}

.main_container h2 {
    margin: 0 0 20px;
}

p:first-child {
    margin: 0;
}
