.subtitle {
    padding-top: 20px;
    padding-bottom: 40px;
    max-width: 486px;
    margin: 0;

    @include media(lg) {
        margin: 0 auto;
    }

    @include media(md) {
        text-align: center;
        margin: 0 auto;
    }
}

.small-header {
    @include font-family(700, 16px, $color-title);
    padding-bottom: 10px;
    margin: 0;
}

.desing-prof {
    padding-top: 18px;

    @include media(md) {
        text-align: center;
        margin: 0 auto;
    }
}

.text {
    padding-bottom: 30px;
    max-width: 486px;
    margin: 0;

    @include media(lg) {
        margin: 0 auto;
        text-align: center;
    }

    @include media(md) {
        text-align: center;
        margin: 0 auto;
    }
}

.centered {
    @include media(lg) {
        text-align: center;
        margin: 0 auto;
    }
}
