 .menu {

     @media screen and (max-width: 992px) {
         text-align: right;
         display: flex;
         flex-direction: column;
         gap: 20px;
     }

     list-style-type: none;

     &__item {
         display: inline-block;
     }

     &__link {
         font-size: $default-font-size;
         text-decoration: none;
         padding-right: 20px;
         color: $color-black;

         &:hover {
             color: $color-orange;
         }
     }
 }
