.hero {

    .container {
        padding-top: 110px;
        padding-bottom: 124px;

        @include media(md) {
            padding-top: 50px;
            padding-bottom: 60px;
        }
    }

    @include media(sm) {
        text-align: center;
    }

    .row {
        @include flex-jsc-al (center, center);
    }

    background: url(../../images/hero-bg.jpg);
    background-position-y: -200px;

    &__title {
        padding-bottom: 24px;
    }

    &__text {
        padding-bottom: 32px;
    }

    &__btn {
        padding-left: 32px;
        padding-right: 32px;

    }
}

.images-wrapper {
    display: flex;
    flex-direction: column;
}

.img {
    padding: 0 100px 0 100px;
    gap: 16px;

    @include media(md) {
        padding: 0 15px 0 15px;
    }

    &__nature-first {
        align-self: flex-start;

        @include media(md) {
            align-self: center;
        }
    }

    &__nature-second {
        align-self: flex-end;

        @include media(md) {
            align-self: center;
        }
    }

}

.action {
    background-color: $dark-grey;
}

.icon {
    @include flex-jsc-al (space-between, center);

    @include media(sm) {
        flex-direction: column;
    }

    &__subtitle {
        @include media(md) {
            font-size: 1.5em;
        }
    }


    &__list {
        width: 424px;
        text-align: center;
        position: relative;

        @include media(md) {
            width: fit-content;
        }

        &:not(:last-of-type)::after {
            content: "";
            display: block;
            width: 100%;
            height: 300px;
            border-top: 1px dashed #fff;
            border-radius: 50%;
            position: absolute;
            bottom: -65%;
            left: 54%;
            clip-path: ellipse(200px 150px at 50% 0%);

            @include media(md) {
                display: none;
            }

        }
    }

    &__item {
        width: 64px;
        height: 64px;
        padding: 16px;
        background-color: $dark-grey;
        position: relative;
        z-index: 1;

    }
}

.icon-search {
    fill: $icon-dodger-blue;
}

.icon-check {
    fill: $icon-red;
}

.icon-thumbs-up {
    fill: $icon-blue;
}
