.spain {

    // .spain__block

    &__block {
        background-image: url(../images/spain2_bg.jpg);
        height: 684px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    // .spain__textblock

    &__textblock {
        background: rgba(35, 35, 35, 0.90);
        width: 50%;
        padding: 20px;
        margin-top: 200px;
        margin-left: 400px;
        box-sizing: border-box;

        @include media(md) {
            text-align: center;
            margin-left: 24%;
            margin-top: 14%;
        }

        @include media (sm) {
            width: 70%;
            margin: 0 auto;
            margin-top: 18%;
        }

        @include media(xs) {
            width: 100%;
            margin-left: 0;
            margin-top: 25%;
        }

        @include media(xxs) {
            width: 100%;
            margin-left: 0;
            margin-top: 30%;
        }
    }

    // .spain__header

    &__header {
        margin: 0;
        @include new-font;
        color: $white-color;
        padding-top: 15px;

        // .spain__header_upprcase

        &_upprcase {
            @include new-font($default-font-name, 20px, 400, normal, 28px);
            text-transform: uppercase;
            color: $white-color;
        }
    }

    // .spain__text

    &__text {
        @include new-font($default-font-name, 16px, 300, normal, 28px, 1.6px);
        color: $white-color;
    }
}
