.tourists-say {
    background-image: url(../images/tourist-bg.jpg);
    background-size: cover;
    padding-bottom: 180px;

    @include media(md) {
        padding-bottom: 105px;
    }

    & .col-4 {
        padding-right: 0;

        @include media(md) {
            padding-right: $container-padding;
            padding-bottom: 0;
        }
    }

    & .col-8 {
        padding-left: 0;

        @include media(md) {
            padding-left: $container-padding;
            padding-top: 0;
        }
    }

    &__title {
        color: $color-white;
        text-align: center;
        font-family: Aleo;
        font-size: 36px;
        font-weight: 400;
        line-height: 40px;
        text-transform: capitalize;
        margin: 0;
        padding: 105px 0 45px;

        @include media(md) {
            padding-top: 45px;
        }
    }

    &__img-wrapper {
        display: flex;
        align-items: stretch;
    }

    &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;

        @include media(md) {
            max-height: 336px;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
        padding: 48px 60px;
    }
}

.tourists-say-item {
    background-color: $color-darkgray;
    color: $color-white;

    &__title {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        text-transform: uppercase;
        margin: 0;
        padding-bottom: 16px;
    }

    &__img {
        width: 20px;
        height: 20px;
        padding-bottom: 3px;
        fill: $color-blue-accent;
    }

    &__description {
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 1.6px;
        margin: 0;
    }
}
