body {
    font-family: Open Sans;
    font-size: 18;
    color: #070707;
}

h1, h2 {
    font-weight: 700;
}

h1 {
    font-size: 47;
}

h2 {
    font-size: 34;
}

#about, #portfolio {
    background-color: #F6F6F6;;
}

.portfolio_text {
    text-decoration-line: underline;
}

