%flex-jst-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

%flex-no-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

%posfix-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
