// colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-darkgray: #333333;
$color-blue-accent: #5373FD;
$color-dark-blue-accent: #486BFE;
$color-blue: #00A2FF;
$color-light-red: #FF6363;
$color-light-gray: #999999;

$default-font-color: $color-darkgray;

$default-box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.10);
$border-btn-color-primary: $color-white;
$border-height: 50px;
$btn-font-weight: 600;

$border-color: $color-blue;
$default-border: none;

$default-body-color: $color-white;

// fonts
$default-font-name: 'Josefin Sans';
$fallback: Arial, Helvetica, sans-serif;
$default-font-size: 16px;

$main-font: $default-font-name, $fallback;
$font-path: './fonts/';

$title-font-name: 'Aleo';
$title-font: $title-font-name, $fallback;

// containers
$container-padding: 15px;
$container-max-width: 1320px;

$gap: 15px;
$default-count-col: 12;

$default-width: 1320px;

$breack-points: (
    "lg": 1200px,
    "md": 992px,
    "sm": 768px,
    "xs": 576px,
    "xxs": 480px
);
