.footer {
    background-image: url('#{$base-img-pass}../images/footer/footer-bg.png'), linear-gradient(237deg, #24ccfa 11.16%, #3C7FD4 89.18%);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    position: relative;

    // .footer__map-wrapper

    &__map-wrapper{
        width: 100vw;
        height: 700px;
    }

    // .footer__contact-form

    &__contact-form {
        background-color: $white-color;
        background-image: url('../../images/footer/form-bg.png');
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: contain;
        width: 770px;
        height: 450px;
        position: absolute;
        @extend %posfix-center;
    }

    // .footer__logo

    &__logo {
        text-align: center;
        padding-left: 56px;
    }

    // .footer__socials

    &__socials {
        text-align: center;
        
    }

    // .footer__socials-link

    &__socials-link {
        text-decoration: none;

        &:not(:last-of-type) {
            padding-right: 20px;
        }

    }

    // .footer__scroll

    &__scroll {
        justify-self: flex-end;
    }

    // .footer__container

    &__container {
        height: 549px;
    }

    // .footer__row

    &__row {
        padding-top: 203px;
        align-items: center;
    }

    // .footer__copyright

    &__copyright{
        padding-top: 41px;
        text-align: center;
    }


}
.container {
}
.row {
}
.contact-form {

    // .contact-form__title

    &__title {
        position: relative;
        padding-bottom: 40px;
        text-align: center;
        margin-top: 90px;

        &::before {
            @extend %heading-pseudo;
            top: -37%;
        }
    }

    // .contact-form__wrapper

    &__wrapper {
        display: flex;
    }

    // .contact-form__contact

    &__contact {
        padding: 0 0 68px 60px;
    }

    // .contact-form__contact-item

    &__contact-item {
        &:not(:last-of-type) {
            padding-bottom: 20px;
        }

        // .contact-form__contact-item_text

        &_text {
            padding-left: 15px;
        }
    }

    // .contact-form__icon

    &__icon {
        width: 15px;
        height: 15px;
        fill: $heliotrope;
    }

    // .contact-form__inputs

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-right: 60px;

        &>input {
            border: none;
            border-bottom: 1px solid rgb(44, 64, 88, 0.2);

            &:hover {
                border-bottom: 1px solid $pickled-bluewood;
            }

            @include placeholder() {
                font-family: $secondary-font;
                color: $input-text-color;
                padding-bottom: 14px;
            }
        }

    }

    // .contact-form__btn

    &__btn {
        align-self: flex-end;
    }
}
.col-6 {
}
.form {

    // .form__wrapper

    &__wrapper {
    }
}

.scroll-to-top {
    position: fixed;
    right: 45px;
    bottom: 45px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid $white-color;
    background-image: url('#{$base-img-pass}../images/arrow.svg'), ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    background-color: rgb(126, 90, 255, .6);
    box-shadow: 0 0 10px 10px rgba(126, 90, 255, .6);
    display: none;

    &.show-scroll {
        display: block;
    }
}

.copyright {
    font-family: $secondary-font;
    font-size: 14px;
    line-height: normal;
    color: $white-color;
}

