body {
    font-family: $main-font;
    font-size: $default-font-size;
}

@include grid (3);

.container {
    max-width: $container-max-width;
    box-sizing: border-box;
    margin: 120px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap;
}

.wrapper {
    position: relative;
    display: inline-block;

    &::after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(0, #241F24 0%, rgba(91, 91, 91, 0.45) 34.11%, rgba(187, 186, 192, 0.26) 62.5%);
        border-radius: $default-border-radius;
    }

    &:hover::after {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;

    }

    &:hover {
        .block__action {
            opacity: 1;
            transition: opacity 0.3s ease-in-out;

        }
    }
}

.block {

    &__title {
        grid-column: 1 / -1;
        margin: 0 auto;
        font-family: "Delius Unicase", $fallback;
        font-size: $h2-font-size;
        padding-bottom: 50px;
    }

    &__image {
        border-radius: $default-border-radius;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__action {
        @include flexnew($_jst-cont: space-between, $_flex-wrap: nowrap);
        @include pos-abl-box;
        top: 0;
        padding: $padding-caption;
        opacity: 0;
    }

    &__item-wishlist {
        display: block;
        background-image: url(../images/icon/like.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-color: $color-data-gray-5;
        border-radius: $icon-brd-radius;
        width: $default-icon-width;
        height: $default-icon-height;
        z-index: 1;

        &:hover {
            background-color: rgba(224, 224, 224, 0.6);
            transition: 0.3s ease-in-out;
        }
    }

    &__item-download {
        background-image: url(../images/icon/download.svg);
        @extend .block__item-wishlist;
    }

    &__info-wrapper {
        @include flexnew($_jst-cont: space-between, $_flex-wrap: nowrap);
        @include pos-abl-box;
        bottom: 0;
        padding: $default-padding-caption;
        color: $color-author;
        z-index: 1;
    }

    &__author {
        font-weight: 500;
    }

    &__data {
        color: $color-data-gray-5;
    }
}
