.managers-pad {
    padding-left: 80px;
    padding-top: 15px;

    @include media(lg) {
        padding-left: 0;
        text-align: center;
    }
}

.mark-list {
    @extend %ul-not-marker;
}

.mark-list li {
    position: relative;
    max-width: 440px;
    padding-bottom: 30px;
    padding-left: 65px;

    @include media(lg) {
        text-align: center;
        margin: 0 auto;
    }
}

.mark-list li::before {
    content: '';
    position: absolute;
    background-image: url('../images/svg/mark.svg');
    left: 0;
    top: 6px;
    background-size: cover;
    background-position: center;
    width: 35px;
    height: 35px;
}

.one {
    padding-left: 45px;
}
