body {
    font-family: $main-font;
    background-color: $default-body-color;
    font-size: $default-font-size;
}

@include grid();

.mobile-only {
    @include media-m(sm) {
        display: none !important;
    }
}

.desktop-only {
    @include media(sm) {
        display: none;
    }
}
