.search-form {

    // .search-form__wrapper

    &__wrapper {
        margin: 0 auto;
        display: flex;
        flex-wrap: nowrap;
        width: 647px;
        align-items: center;
        background-color: $color-white;
        justify-content: space-between;
        padding: 4px 5px 4px 36px;
    }

    // .search-form__input

    &__input {}

    // .search-form__button-container

    &__button-container {
        cursor: pointer;
    }

    // .search-form__icon-img

    &__icon-img {
        height: 16px;
        width: 16px;
        fill: white;
    }

    // .search-form__text
    &__text {
        margin: 0;
    }

    // .search-form__button
    &__button {
        display: flex;
        align-items: center;
        gap: 12px;
        flex-shrink: 0;
        cursor: pointer
    }
}

.input-form {
    background-color: $color-white;
    color: $color-gray;
    border: 0;
    width: 100%;
    padding: 0 10px 0 0;
    @include fonts-type ($default-font-name, $font-size-small, $font-weight-name, $line-height, $letter-spacing-holder);
}
