@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #070707;
}

.menu {
    list-style-type: none;
}

.menu__item {
    display: inline;
    margin: 0 auto;
    padding-left: 40px;
}

.menu__link {
    color: #828282;
    text-decoration: none;
}


.hero_block {
    width: 943px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.hero__title {
    text-align: left;
    font-size: 47px;
    font-family: Open Sans;
    font-weight: 700;
}


.titles {
    font-size: 34px;
    font-weight: 700;
}

.skills_name {
    color: #828282;
    font-size: 14px;
    font-weight: 700;
}

.button {
    background-color: black;
    color: #FFF;
    font-size: 18px;
    font-family: Open Sans;
    font-weight: 700;
    letter-spacing: 1.8px;
    border-radius: 20px;
    padding: 10px 20px;
}

.line {
    color: #828282;
    width: 940px;
}

.bcgr-grey {
    background: #F6F6F6;
    width: 100%;

}

.text-box {
    width: 480px;
    margin: 0 auto;

    padding: 100px 0 100px 0;
}

.text-wight {
    padding-bottom: 40px;
}

.text-wight:last-child {
    padding-bottom: 0px;
}

.list {
    list-style-type: none;
}

.list__item {
    display: inline-block;
    width: 24%;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 78px;
}

img {
    max-width: 100%;
}

.pt100 {
    padding-top: 100px;
}

.pb67 {
    padding-bottom: 67px;
}

.link {
    color: #070707;
}

.mb100 {
    margin-bottom: 100px;
}

.pb100 {
    padding-bottom: 100px;
}

.null-border {
    margin: 0;
    padding: 0;
}

.w480 {
    width: 480px;
    margin: 0 auto;
}

.pt44 {
    padding-top: 44px;
}

.contacts p:last-child {
    color: #828282;
    font-size: 14px;
}
