@font-face {
    font-family: $deffault-font-name;
    font-style: normal;
    font-weight: 400;
    src: url('#{$fonts-path}roboto-v30-latin-regular.woff2') format('woff2');
}

body {
    font-family: $main-font;
    background-color: $default-body-color;
}

.container {
    padding: $container-padding;
    max-width: $container-max-widt;
    margin: 0 auto;
}
