$color-red: rgb(223, 59, 59);
$color-green: green;
$color-lightgray: lightgray;

$default-body-color: white;

$deffault-font-name: 'Roboto';
$fallback: Arial, Helvetica, sans-serif;

$main-font: $deffault-font-name, $fallback;

$container-padding: 15px;
$container-max-widt: 1200px;

$fonts-path: './fonts/'
