.image__design {
    img {
        width: 100%;
    }
}

.image__professionals {
    img {
        width: 100%;
    }
}

.image__managers {
    img {
        width: 100%;
    }
}

.myspace__list {
    img {
        width: 35px;
        height: 35px;
    }
}

.image__marketers {

    img {
        width: 100%;
    }
}
