.image__design {
    img {
        width: 100%;
    }
}

.image__professionals {
    padding-left: 60px;

    img {
        width: 100%;
    }
}

.image__managers {
    padding-right: 60px;

    img {
        width: 100%;
    }
}

.myspace__list {
    img {
        width: 35px;
        height: 35px;
    }
}

.image__marketers {
    padding-left: 60px;

    img {
        width: 100%;
    }
}
