.block__tools {
    background-image: url(../images/background.svg);
    background-size: cover;
    background-position: center bottom;
    padding-bottom: 40px;
}

.tools {
    @include flex;
    gap: 40px;
    padding-top: 50px;

    &__list {
        list-style-type: none;
    }

    h4 {
        color: $color-darkgray;
        font-size: 22px;
        font-weight: 600;
    }

    p {
        color: $color-lightgray;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
    }
}
