.block-why {
    background-image: url(#{$base-img-path}images/content-0.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 124px 0;
    transition: padding .3s ease-in-out;

    @include media(md) {
        padding: 75px 0;
    }

    @include media(sm) {
        padding: 50px 0;
    }

    // .block-why__title

    &__title {
        @include fonts-type($font-sub-font, $font-size-h2, $font-weight-name, $line-height-h, normal, $text-transform-capit);
        margin: 0 0 24px;

    }

    // .block-why__text

    &__text {
        line-height: 28px;
        letter-spacing: 1.6px;
        margin: 0 0 32px;

        @include media(sm) {
            margin: 0 0 20px 0;
        }
    }

    // .block-why__image-one

    &__image-one {
        display: block;
        object-fit: contain;
        object-position: center;
        margin-right: auto;
        margin-left: 112px;
        margin-bottom: 16px;

        @include media(md) {
            margin: 0 auto;
            margin-bottom: 10px;
        }

        @include media(sm) {
            margin: 0 auto;
            margin-bottom: 10px;
        }
    }

    // .block-why__image-two

    &__image-two {
        display: block;
        object-fit: contain;
        object-position: center;
        margin-left: auto;
        margin-right: 125px;

        @include media(md) {
            margin-right: 160px;
        }

        @include media(sm) {
            margin: 0 auto;
        }
    }

}
