.knowing {
    padding-left: 55px;
}

.input_place {
    display: inline-block;
}

.input_space {
    margin-top: 25px;
    width: 320px;
    height: 50px;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
}

.input_space::placeholder {
    color: #BCD0E5;
}

input[type="submit"] {
    margin-top: 20px;
    width: 180px;
    height: 50px;
    color: #FFF;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #F90;
    border-radius: 4px;
    border: 1px solid #F90;
}
