@include font-face ('montserrat-v25-latin-500');
@include font-face ('montserrat-v25-latin-regular', 400);
@include font-face ('montserrat-v25-latin-600', 600);
@include font-face ('montserrat-v25-latin-700', 700);
@include font-face ('poppins-v20-latin-700', 700, $font-name-button);

body {
    font-family: $main-font;
    font-size: 16px;
    font-weight: 500;
    color: $default-text-color;
}

@include grid (12);

a {
    text-decoration: none;
}

// h1
.hero__title {
    color: $color-title;
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
    margin: 30px 0;
}

// h2
.main__title {
    color: $color-title;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

// h3
.tools__title,
.main_container__title {
    margin: 0 0 16px 0;
    color: $color-title;
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
}

// h4 
.list-item__title {
    color: $color-title;
    font-weight: 700;
    margin: 0 0 10px;
}

// h5
.footer__title {
    color: $color-main-text;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin: 0 0 30px 0;
    text-align: left;
}

.flex-col {
    @include flex-jst-align;
    gap: 100px;
    flex-wrap: nowrap;
}
