.wwd-title {
    font-family: $default-font-name;
    font-size: 44px;
    font-weight: 700;
    color: $rhino;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;

    &::before {
        content: "";
        display: block;
        width: 100px;
        height: 3px;
        background: $rhino;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

.tc-img {
    margin-top: 80px;
    width: 100%;
    position: relative;

    &::before {
        content: "";
        display: block;
        width: 120%;
        height: 100%;
        background: $cyan-Blue;
        position: absolute;
        top: -15%;
        left: -35%;
        z-index: -1;

        @include media(md) {
            content: unset;

        }
    }
}

.cc-img {
    margin-top: 80px;
    width: 100%;
    position: relative;

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: #55b7ff;
        position: absolute;
        top: -15%;
        right: -15%;
        z-index: -1;

        @include media(md) {
            content: unset;

        }
    }

}

.tc-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
    color: $rhino;


    .sup-title {
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .title {
        font-size: 44px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

    }

    .desc {
        font-family: $opensans-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }

    .more-btn {
        margin-top: 30px;
        margin-bottom: 30px;
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: 2px solid $rhino;
        width: 150px;
        height: 30px;
        display: flex;
        justify-content: center;
    }

    .geo {
        color: #000;
        font-family: $opensans-font;
        font-size: 15px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
        margin-left: 20px;

        &::before {
            content: "";
            display: block;
            margin-left: -20px;
            margin-bottom: -25px;
            width: 20px;
            height: 30px;
            background: url("../../images/geo.svg") no-repeat;
            background-size: contain;
        }
    }
}

.rr {
    display: flex;

    @include media(sm) {

        display: flex;
        flex-direction: column-reverse;

    }
}
