.btn {
    display: inline-block;
    background-color: $color-btn;
    color: $default-body-color;
    display: inline-flex;
    align-items: center;
    text-decoration: none;


    &-primary {
        padding: 20px 32px;
        height: $btn-height-primary;
        width: $btn-weight;
        font-size: inherit;
    }

    &-secondary {
        padding: 16px 24px;
        height: $btn-height-secondary;
        font-size: $font-size-small;
    }
}
