.grid {
    height: 100%;
    display: grid;
    //grid-template-columns: 250px 250px;
    //grid-template-columns: minmax(50px, 250px) minmax(50px, 250px);
    //grid-template-columns: repeat(6, 50px);
    grid-template-columns: repeat(2, 50px 100px);
    grid-template-columns: repeat(2, minmax(50px, 250px) minmax(50px, 250px));
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(12, 1fr);
    grid-template-columns: 1fr 100px;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-template-columns: max-content 1fr;
    grid-template-columns: min-content min-content;
    grid-template-columns: minmax(auto, 300px) 100px;
    grid-template-columns: minmax(300px, auto) 100px;
    grid-template-columns: repeat(3, 1fr);

    grid-template-rows: 250px 250px;
    grid-template-rows: min-content 1fr minmax(250px auto);

    grid-auto-rows: 100px;

    column-gap: 50px;
    row-gap: 10px;
    gap: 10px 50px;
    gap: 30px;

    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);

    //justify-content: center;
    //justify-content: space-between;
    //align-content: center;
    //align-content: center;

    //justify-items: center;
    //align-items: center;




    &__item {
        padding: 15px;
        background-color: lightgray;
        border: 1px solid gray;

        &:nth-child(1) {
            //grid-column-start: 1;
            //grid-column-end: -2;
            //grid-column: 1 / -1;
            //grid-column: 2 / span 2;
            //grid-row: 1 / 3;
            //z-index: 10;
        }

        &:nth-child(2) {
            //grid-column: 1 / -1;
            // grid-row: 1;
        }

        &:nth-child(4) {
            grid-column: 1 / span 2;
            grid-row: 2 / span 2;
        }

        &:nth-child(3) {
            grid-row: 1 / -1;
        }
    }
}

html,
body {
    height: 100%;
}

.container {
    height: 100%;
}
