// colors
$orange-color: #f76707;
$white-color: #fff;
$black-color: #000;
$green-color: green;
$periwinkle-gray-color: #BCD0E5;
$gray-3-color: #dee2e6;
$gray-6-color: #868e96;
$dark-gray: #333;
$brown-color: #565656;
$subtitle-content-color: #7B7B7B;
$dodger-blue: #5373FD;
$dodger-dark: #486BFE;
$block-bg-color: rgba(35, 35, 35, 0.90);
$bittersweetapprox: #FF6363;
$azure-radiance: #00A2FF;

$width: 15px;


// fonts
$default-font-name: 'Josefin Sans';
$secondary-font-name: 'Aleo';
$btn-font-name: 'Aleo';
$fallback: Arial, Helvetica, sans-serif;
$default-font-size: 16px;
$default-font-weight: 300;
$default-font-style: normal;
$default-line-height: 28px;
$default-letter-spacing: 1.6px;
$main-font: $default-font-name, $fallback;
$secondary-font: $secondary-font-name, $fallback;
$font-path: './fonts/';

//h1
$h1-font-size: 48px;
$h1-font-style: normal;
$h1-font-weight: 700;
$h1-line-height: 52px;
$h1-letter-spacing: 2.4px;
$h1-color: $black-color;

//h2
$h2-font-size: 36px;
$h2-font-weight: 400;
$h2-line-height: 40px;


//h3
$h3-font-size: 28px;

//h4
$h4-font-size: 20px;
$h4-font-weight: 400;

//h5
$h5-font-size: 19px;


// btn-variables
$btn-radius: 4px;
$btn-width: 213px;
$btn-height: 60px;
$border-btn-color-primary: $orange-color;
$border-btn-color-secondary: $periwinkle-gray-color;
$btn-bg: $dodger-blue;
$btn-text-color: $white-color;
$btn-font-size: 16px;
$btn-font-weight: inherit;
$btn-line-height: 20px;
$btn-letter-spacing: 1.12px;
$border-weight: 213px;




// containers
$default-body-color: $white-color;

$container-padding: 15px;
$container-max-width: 1320px;

$gap: 15px;
$defaulp-count-col: 12;

$default-width: 1320px;

$breack-points: (
    "lg": 1200px,
    "md": 992px,
    "sm": 768px,
    "xs": 576px,
    "xxs": 480px
);
