.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    text-align: center;
    display: flex;
    gap: 20px;
}

.auth {
    display: flex;
    gap: 32px;
}

.secondary-btn {
    @extend %btn;
    @extend %secondary;
}

.primary-btn {
    @extend %btn;
    @extend %primary;
}

.btn-lg {
    @extend %btn-lg;
    @extend %primary;
}

// main

main {
    display: flex;
    flex-direction: column;
    gap: 65px;
}



.hero {
    margin-top: 55px;

    &-text {
        padding: 90px 50px 90px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-title {
        font-weight: 700;
        line-height: 54px;
        font-size: 44px;
    }

    &-desc {
        font-size: $secondary-fonts-size;
        font-weight: 400;
        line-height: 28px;
    }

    &-image {
        width: 644px;
        height: 495px;
    }
}





.features {
    background-image: url(../images/bg.svg);
    background-size: 100vw 100%;

    .cards {
        gap: 40px;
    }

    .features-title {
        font-size: 36px;
        font-weight: 700;
        margin: auto;
        text-align: center;
        padding-bottom: 60px;
    }

    a {
        margin: 100px auto;
    }
}

.cards {}

.card {
    gap: 20px;
    color: $dark-brown;

    img {
        width: 50px;
        height: 50px;
    }

    &-title {
        font-weight: 600;
        font-size: 22px;
    }

    &-desc {
        font-size: $main-font-size;
    }
}


.text__wrapper {
    padding: 10px 110px 0px 0px;

    &-right {
        padding: 45px 0px 0px 120px;

    }
}

.title {
    font-size: 36px;
    line-height: 162.5%;
    margin-bottom: 20px;
}

.desc {
    font-size: $main-font-size;
    font-weight: 500;
    color: $dark-brown;
    line-height: 162.5%;

    // .desc-list

    &-list {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    // .desc-list__items

    &-list__items {
        // display: flex;
        // gap: 30px;
        // align-items: center;
    }

    &-list__items-checkbox {
        display: flex;
        gap: 30px;
        align-items: center;
    }

    // .desc-title

    &-title {
        margin-bottom: 20px;
        font-size: $main-font-size;
        font-weight: 700;
    }
}


// footer 
footer {
    margin-top: 150px;
}

.footer-links {
    margin-top: 30px;
    gap: 15px;

    a {
        color: $dark-brown;
        font-size: $main-font-size;
    }
}

.links-title {
    font-size: 20px;
    color: $dark-brown;
}


.logo {
    width: 200px;
    height: 32px;
}

.form {
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;

    h4 {
        font-size: 20px;
    }
}

input {
    width: 340px;
    height: 50px;
    padding: 0px 10px;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
}

input::placeholder {
    color: #BCD0E5;
}
