.buttons {
    @include flex-jst-sbw;
    width: 252px;
    padding-left: calc(100% - 252px);

    @include media(lg) {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0 auto;
        gap: 32px;
        white-space: nowrap;
    }

    @include media(sm) {
        position: fixed;
        top: 55px;
        left: 25%;
    }
}

.white-button,
.orange-button {
    font-weight: 600;
    border-radius: 4px;
    padding: 10px 25px;
    text-align: center;
}

.white-button {
    color: $color-title;
    background-color: $default-body-color;
    border: 1px solid $color-placeholder;
}

.orange-button {
    color: $default-body-color;
    background-color: $color-orange;
    border: 1px solid $color-orange;
}
