.block {
    display: flex;
    justify-content: center;
    padding: 85px 0;
    align-items: center;
}

.block__left {
    display: flex;
    justify-content: right;
    padding-right: 85px;
}

.border-right {
    border-left: 1px solid $color-gold;
}

.flex-container {
    padding: 15px;
    margin: 0;
    z-index: 5;
    border: 1px solid $color-gold;
    position: relative;
    display: inline-block;
}


.flex-item::before {
    content: '';
    width: 101%;
    height: 50%;
    background-color: $color-white;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: $transform-center;
}

.flex-item::after {
    content: '';
    width: 50%;
    height: 101%;
    background-color: $color-white;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: $transform-center;
}

.block__right {
    padding-left: 85px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h2 {
    color: $color-h-text;
    text-align: center;
    font-family: $font-name-title;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 60px;
}

h3 {
    color: $color-h-text;
    text-align: center;
    font-family: $default-font-name;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    text-transform: capitalize;
}

.block__right-caption {
    position: relative;
    margin-bottom: 30px;
}

.block__right-caption::after {
    content: '';
    width: 100px;
    height: 1px;
    background-color: $color-gold;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: $transform-center;
}

.socials__list {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.socials {
    margin-bottom: 50px;
}

.block__right-text p {
    color: $color-main-text;
    text-align: center;
    font-family: $default-font-name;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    padding: 0 30px;
    position: relative;
    z-index: 1;
}

.block__right-text {
    margin-bottom: 50px;
}

.block__right-text p::before {
    content: '';
    background-image: url('../../images/decore.svg');
    background-color: #fff;
    position: absolute;
    z-index: 5;
    width: 50px;
    height: 4px;
    left: 50%;
    bottom: -20%;
    transform: $transform-center;
}

.block__right-button {}

.block__right-button span {
    color: $color-h-text;
    text-align: center;
    font-family: $font-name-btn;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    padding: 5px 10px;
    border: 1px solid $color-gold;
}
