@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/montserrat-v25-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/montserrat-v25-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/montserrat-v25-latin-700.woff2') format('woff2');
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

.container::after {
    content: '';
    display: block;
    clear: both;
}

.logo__left {
    float: left;
    padding-left: 120px;
}

.buttons__right {
    float: right;
    padding-right: 120px;
}

.button1 {
    background-color: #ffffff;
    border: 1px solid #BCD0E5;
    color: black;
    padding: 13px 25px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button2 {
    background-color: #f90;
    color: white;
    padding: 13px 25px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 32px;
}

.nav {
    list-style-type: none;
    text-align: center;
    font-size: 0;
}

.menu .menu__item {
    display: inline-block;
    font-size: 16px;
    padding-right: 30px;
}

.menu__link {
    text-decoration: none;
}

.menu__link:link {
    color: black;
}

.menu__link:visited {
    color: black;
}

.menu__link:hover {
    color: orange;
}

.footer {
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.footer__logo {
    float: left;
    width: 30%;
}

.footer::after {
    content: '';
    display: block;
    clear: both;
}

.block__one,
.block__two {
    line-height: 35px;
    display: inline-block;
    width: 15%;
    padding-right: 45px;
}

.block__one h4,
.block__two h4 {
    text-align: center;
    line-height: 10px;
    padding-right: 40px;
}

.quick__links,
.legal__staff {
    display: inline-block;
    list-style-type: none;
}

.block__links a {
    text-decoration: none;
}

.block__links a:link {
    color: black;
}

.block__links a:visited {
    color: black;
}

.block__links a:hover {
    color: #f90;
}

.input {
    width: 340px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.input h4 {
    line-height: 25px;
}

.button3 {
    background-color: #f90;
    color: white;
    padding: 13px 25px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline;
}

.buttons {
    float: right;
    width: 18%;
    padding-right: 100px;
}

input[type=number] {
    width: 340px;
    height: 50px;
    box-sizing: border-box;
}
