.slider {
    &__items {
        height: 100vh;

        .slick-slide img {
            height: 100vh;
            width: 100vw;
            object-fit: cover;
        }



        .slick-slide {
            width: 100vw;
            height: 100vh;
        }

        .slick-list {
            height: 100vh;
        }
    }
}

.slick-vertical .slick-slide {
    border: unset;
}

.slick-dots {
    width: auto;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 15;
    transform: translateY(-50%) rotate(90deg);
    bottom: unset;

    @include media(md) {
        display: none !important;
    }

    li button::before {
        content: '';
        font-size: 12px;
        opacity: .5;
        line-height: 13px;
        width: 10px;
        height: 10px;
        border: 1px solid #fff;
        border-radius: 50%;
        transition: background-color .3s ease-in-out;
        color: unset;

        &:hover {
            background-color: $white-color;
        }
    }



}

.slick-dots li.slick-active button:before {
    opacity: 1;
    background-color: #fff;

}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;

    &-slider {

        &__item {
            position: relative;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;

            &::after {
                content: "";
                width: 100vw;
                height: 100vh;
                position: absolute;
                right: 0;
                top: 0;
                display: block;
                background: linear-gradient(243deg, #7E5AFF 16.9%, #55B7FF 83.27%);
                z-index: -19;
            }

        }

        &__container {
            position: absolute;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

        }

        &._active {
            transition: .3s ease;
            transform: translateY(100%);
            z-index: 10;
        }
    }

    // .hero-slider__img

    &__img {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        object-fit: cover;
        object-position: center;
        z-index: 12;
    }

    // .hero-slider__container

}

.arrow__down {
    content: '';
    display: block;
    border-right: 2px solid $white-color;
    border-bottom: 2px solid $white-color;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    position: absolute;
    bottom: 10%;
    left: 50%;
    cursor: pointer;
    z-index: 30;

    &:hover::after {
        background-color: $white-color;
        opacity: .3;
    }

    &::after {
        content: '';
        display: block;
        border: 1px solid $white-color;
        border-radius: 50%;
        padding: 30px;
        position: absolute;
        top: 75%;
        left: 75%;
        transform: translate(-50%, -50%);
        transition: all .3s ease-in-out;
    }
}
