// colors
$dodger-blue: #5373FD;
$white-color: #fff;
$black-color: #000;
$dark-grey: #333;
$icon-dodger-blue: $dodger-blue;
$icon-red: #FF6363;
$icon-blue: #00A2FF;
$submit-btn: $icon-blue;
$color-mobile-menu: rgba(83, 115, 253, 0.9);
$btn-color: linear-gradient(50deg, #486BFE 0%, #486BFE 40%, #5373FD 0%, #5373FD 100%);
$btn-color-small: $dodger-blue;

// fonts
$fallback: Arial, Helvetica, sans-serif;
$default-font-name: 'Josefin Sans';
$main-font: $default-font-name, $fallback;
$secondary-font: 'Aleo', $fallback;
$font-path: './fonts/';

// container
$container-padding: 15px;
$container-max-with: 1320px;
$gap: 15px;
$default-coutn-col: 12;
$default-width: 1320px;

$breack-points: (
    "lg": 2000px,
    "md": 992px,
    "sm": 768px,
    "xs": 576px,
    "xxs": 480px,
    "xxxs": 320px
);
