.div-for-button {
    padding-top: 50px;
}

.button {
    text-decoration: none;
    color: $color-name;
    font-family: 'Open Sans', $fallback;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    padding: 5px 10px;
    border: 1px solid $color-gold;
    background-color: $color-white;
    position: relative;
}

.description {
    position: relative;
}

.description::before,
.description::after {
    content: '';
    position: absolute;
    background-color: $color-gold;
    top: 135px;
    height: 4px;
}

.description::before {
    width: 20px;
    right: 200px;
    border-left: 5px solid $color-white;
    border-right: 5px solid $color-white;
    z-index: 1;
}

.description::after {
    width: 50px;
    right: 190px;
    z-index: -1;
}
