.div-for-button {
    padding-top: 50px;
}

.button {
    text-decoration: none;
    color: $color-name;
    font-family: 'Open Sans', $fallback;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    padding: 5px 10px;
    border: 1px solid $color-gold;
    background-color: $color-white;
    position: relative;
}

.button::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: $color-gold;
    bottom: 52px;
    right: 48px;
}


.description {
    position: relative;
}

.description::after {
    content: '';
    width: 10px;
    height: 4px;
    background-color: $color-gold;
    position: absolute;
    top: 135px;
    right: 190px;
}

.description::before {
    content: '';
    width: 10px;
    height: 4px;
    background-color: $color-gold;
    position: absolute;
    top: 135px;
    left: 190px;
}
