@use 'sass:math';
@import './reset';
@import "./variables";
// @import "./mixins";
@import "./global";
// @import "./extend";
@import "./header/header";
@import "./main/main";
@import "./footer/footer";
