* {
    padding: 0;
    margin: 0;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col-6 {
    width: 50%;
}
.col-4 {
    width: calc(100% / 12 * 4);
}
.product {
    background-color: antiquewhite;
}
[class*="col-"] {
    padding: 15px;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

