.chooseus {
    background-image: url(../../images/ChooseUs/WhyBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    // .chooseus__title

    &__title {
        padding-top: 190px;
        padding-bottom: 24px;
    }

    // .chooseus__text

    &__text {
        padding-bottom: 32px;
    }

    // .chooseus__btn-wrapper
    &__btn-wrapper {
        padding-bottom: 190px;
    }

    // .chooseus__img

    &__img {}

    // .chooseus__img-left

    &__img-left {
        margin-top: 124px;
        padding-left: 130px;
        padding-bottom: 16px;
    }

    // .chooseus__img-right

    &__img-right {
        padding-right: 112px;
        padding-left: 230px;
    }
}
