.grandspain2 {
    background-image: url(../../images/GrandSpain_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.grandspain {
    // .grandspain__reverse

    &__reverse {
        flex-direction: row-reverse;
    }
}
