.touristssay {
    background-image: url('../../images/touristsSay/touristssay_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include media () {
        background-position: 25% 75%;
    }

    // .touristssay__title

    &__title {
        text-align: center;
        margin-top: 120px;
        padding-bottom: 60px;

        @include media (xs) {
            font-size: 26px;
            letter-spacing: 1.6px;
        }
    }

    // .touristssay__item

    &__item {
        display: flex;
        align-items: center;
        background-color: $dark-gray;
        margin-bottom: 180px;

        @include media (md) {
            flex-direction: column;
            background-color: $dark-gray-opacity;
        }
    }

    // .touristssay__img

    &__img {
        display: block;
        aspect-ratio: 3/2;
        object-fit: cover;
        object-position: center;

        @include media (md) {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        @include media (xxs) {
            width: 300px;
        }
    }

    // .touristssay__wrapper

    &__wrapper {
        padding-left: 60px;

        @include media (md) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    // .touristssay__subtitle

    &__subtitle {
        padding-top: 48px;

        @include media (md) {
            padding-top: 20px;
        }

        @include media (xs) {
            font-size: 18px;
            letter-spacing: 0.6px;
        }
    }

    // .touristssay__text

    &__text {
        padding: 16px 65px 48px 0;
        color: $white-color;

        @include media (lg) {
            padding-right: 40px;
        }

        @include media (xs) {
            font-size: 14px;
            letter-spacing: 0.6px;
        }
    }
}

.quote {
    width: 20px;
    height: 20px;
    fill: $dodger-blue;
    padding-right: 5px;
}
