.footer {
    padding: 185px 0;
    position: relative;
    background: linear-gradient(251deg, #7E5AFF -2.19%, #55B7FF 103.21%);

    @include media(sm) {
        padding: 60px 0;
    }

    &::before {
        content: "";
        background: url('../../images/shadow1.png') no-repeat top;
        background-size: contain;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.footer-container {
    max-width: 800px;
    margin: 0 auto;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.social-media-item {
    display: block;
    height: 40px;
    width: 40px;
    border: 1px solid $color-white;
    border-radius: 50%;
    margin-left: 20px;
    z-index: 5;

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    &__image {
        align-self: center;
        height: 18px;
        text-align: center;
        fill: $color-white;
    }
}

.copyrights {
    color: $color-white;
    font-size: 14px;
    margin: 0;
    padding-top: 10px;
}

.scroll-to-top {
    position: fixed;
    display: flex;
    justify-content: center;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 2000;
    opacity: 0;
    transition:
        background-color 0.5s ease-in-out,
        box-shadow 0.5s ease-in-out,
        opacity 0.5s ease-in-out;

    &__arrow {
        rotate: 180deg;
        width: 15px;
    }

    &.bg-scroll {
        background-color: $color-purple;
        box-shadow: 0 0 10px 5px rgba($color: $color-black, $alpha: .15);
        opacity: 1;
    }
}
