.hero {
    margin-bottom: 99px;
}

.content {

    // .content__title
    &__title {
        padding-top: 97px;
        padding-bottom: 30px;
    }

    // .content__text
    &__text {
        padding-bottom: 20px;
    }

    // .content__btn
    &__btn {
        margin-top: 30px;
    }
}
