.tools {
    margin-bottom: 104px;
    // .tools__bg

    &__bg {
        background-image: url(../images/tools/background_tools.svg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;

    }

    // .tools__title

    &__title {
        text-align: center;
        padding-bottom: 50px;
    }

    // .tools__wraper

    &__wraper {
        @include flexvariables (space-between, center, row, no-wrap);
    }
}

.card {
    max-width: 100%;
    width: 539px;

    // .card__title

    &__title {
        font-weight: 600;
        padding-top: 30px;
        padding-bottom: 16px;
    }
}

.tools {

    // .tools__sign-up
    &__sign-up {
        @include flexvariables (center);
        padding-top: 70px;
        padding-bottom: 74px;
    }
}
