.menu {
    list-style-type: none;
    text-align: center;
    font-size: 0;
}

.nav {
    max-width: 936px;
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}

.menu__item {
    display: inline-block;
    text-decoration: none;
    padding: 20px;
}

.menu__link {
    text-decoration: none;
    font-size: 18px;
    color: #828282;
    text-shadow: 1px 2px 4px lightgray;
}

.menu__item a:link {
    color: #828282;
}

.menu__item a:visited {
    color: #828282;
}

.menu__item a:hover {
    color: black;
}

.heading {
    font-size: 47px;
    font-weight: 700;
    padding-bottom: 26px;
}

.section {
    box-sizing: border-box;
    margin: 0 auto;
}

.container {
    max-width: 946px;
    margin: 0 auto;
    padding: 15px;
}

.aboutme {
    background-color: #F6F6F6;
    padding: 15px;
    line-height: 28px;
}

.aboutme h2 {
    padding-bottom: 27px;
    font-size: 34px;
    font-weight: 700;
}

p span {
    display: block;
}

.skill-set img {
    max-width: 100%;
}

.skill-set {
    max-width: 937px;
    margin: 0 auto;
    padding: 15px;
}

.skills h2 {
    font-size: 34px;
    font-weight: 700;
}

.skills h3 {
    font-weight: 400;
}

.figures>* {
    display: inline-block;
    margin: 0 auto;
    padding-right: 50px;
    padding-bottom: 20px;
}

figcaption {
    padding-top: 15px;
    padding-bottom: 20px;
}

.fashion-store h2 {
    font-size: 34px;
    font-weight: 700;
    padding-bottom: 20px;
}

.portfolio-list {
    background-color: #F6F6F6;
    margin: 0 auto;
}

.portfolio-list a {
    color: black;
}

.portfolio-list a:hover {
    color: purple;
}

.portfolio-list>div {
    box-sizing: border-box;
    padding: 40px;
}

.footer {
    max-width: 937px;
    margin: 0 auto;
    padding: 15px;
}

.contacts-text h2 {
    font-size: 34px;
    font-weight: 700;
    padding-bottom: 25px;
}

.contacts-text p:nth-last-child(2) {
    padding-bottom: 25px;
}

.button {
    background-color: black;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    padding: 10px 24px;
    border-radius: 24px;
    width: 180px;
    cursor: pointer;
}

.footer-links img {
    max-width: 100%;
}

.footer-links {
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left: 56px;
}

.footer-links img {
    margin-right: 60px;
}

.footer-text {
    color: #828282;
    font-size: 14px;
    font-weight: 400;
}
