.hero-header {
    color: #666;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 900;
    text-transform: capitalize;
    position: relative;
    padding-top: 70px;
    padding-bottom: 25px;
}

.hero-header::after {
    content: "";
    position: absolute;
    max-width: 100px;
    width: 100%;
    left: calc(50% - 50px);
    bottom: 0;
    height: 1px;
    background-color: $color-gold;
}

.hero-position {
    color: #666;
    text-align: center;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-transform: capitalize;
    padding-top: 30px;
    padding-bottom: 25px;
}

.links {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.links-icon {
    padding-left: 5px;
}

.links-icon:first-child {
    padding-left: 0;
}

.description {
    margin: 0 auto;
    color: #333;
    text-align: center;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    position: relative;
    padding-bottom: 20px;
    max-width: 430px;
}

.description::after {
    display: block;
    content: "";
    position: absolute;
    max-width: 50px;
    width: 100%;
    left: calc(50% - 25px);
    bottom: 0;
    // height: 4px;
    border-bottom: 4px dashed $color-gold ;
    // background-color: $color-gold;
}

.button-box {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.view-profile-button {
    color: #666;
    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid $color-gold;
    padding: 5px 10px;
}
