.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 65px;

    // &::before {
    //     content: "";
    //     position: absolute;
    //     left: calc(50% - 115px);
    //     top: -1px;
    //     bottom: -1px;
    //     width: 230px;
    //     background-color: $default-body-color;
    // }

    // &::after {
    //     content: "";
    //     position: absolute;
    //     left: -1px;
    //     right: -1px;
    //     top: 170px;
    //     bottom: 100px;
    //     width: 600px;
    //     // background-color: $default-body-color;
    //     background-color: red
    // }
}

.hero-photo {
    display: flex;
    height: 430px;
    width: 430px;
    border: 1px solid $color-gold;
    justify-content: center;
    align-items: center;

    &::before {
        content: "";
        position: absolute;
        width: 230px;
        height: 432px;
        margin: 0 auto;
        background-color: $default-body-color;
    }

    &::after {
        content: "";
        position: absolute;
        top: 170px;
        bottom: 100px;
        margin: 0 auto;
        width: 432px;
        background-color: $default-body-color;
    }
}

.hero-img {
    z-index: 3;
}

.pseudo-vertical-line {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 560px;
        left: 100%;
        bottom: -60px;
        background-color: $color-gold;
    }
}
