.title-description {
    width: 100%;
    text-align: center;
    color: $color-mid-gray;
    font-family: Raleway, $fallback;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.title-header {
    width: 100%;
    color: $color-gold;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    padding: 25px 0 55px 0;
    position: relative;
    margin-bottom: 100px;

    &::before {
        content: "";
        position: absolute;
        left: calc(50% - 10px);
        top: 120px;
        background-color: $default-body-color;
        width: 20px;
        height: 20px;
        background-image: url(../images/bonfire_sharp.svg);
        z-index: 2;
    }

    &::after {
        content: "";
        position: absolute;
        max-width: 440px;
        width: 100%;
        height: 1px;
        background-color: $color-gold;
        bottom: 10px;
        left: calc(50% - 220px);
    }
}
