.footer {
    position: relative;
    // overflow-x: hidden;
    width: 100%;
    padding-top: 200px;

    &__img {
        display: block;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-image: linear-gradient(to right, rgba(85, 183, 255, 0.7), rgba(126, 90, 255, 0.7));
        z-index: -1;
    }

    &__socials {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .text-lorem {}

    &__container {}

    &__form {}

    &__socials {
        max-width: 770px;
        margin: 0 auto;
    }
}
