.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
    padding-top: 50px;
    padding: 15px;
    transition:
        background-color 0.5s ease-in-out,
        box-shadow 0.5s ease-in-out;

    &.bg-scroll {
        background-color: $img-bg-second;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    }
}

.logo {

    &__img {
        @include media(md) {
            width: 75%;
        }
    }
}

.menu-wrapper {}

.menu-open-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: $default-border-menu-btn;
    background-color: transparent;

    ._open & {
        .menu-open-btn__line {
            background-color: transparent;

            &::before {
                top: 0;
                transform: rotate(45deg);
            }

            &::after {
                bottom: 0;
                transform: rotate(-45deg);
            }
        }
    }

    // .menu-open-label-center

    &-center {
        position: fixed;
        top: 0;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
    }

    // .menu-open-label__line

    &__line {
        position: relative;
        display: block;
        width: 85%;
        background-color: $default-bg-color-menu-open;
        height: 4px;
        border-radius: 4px;
        transition: background-color .2s ease-in-out;

        &::before,
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: $default-bg-color-menu-open;
            border-radius: inherit;
            position: absolute;
            transition: all .3s ease-in-out;
        }

        &::before {
            top: -12px;
        }

        &::after {
            bottom: -12px;
        }

        &-menu-small {
            background-color: transparent;

            &::before {
                top: 0;
                transform: rotate(45deg);
            }

            &::after {
                bottom: 0;
                transform: rotate(-45deg);
            }
        }
    }
}

.menu {
    display: flex;
    gap: 90px;
    padding: 0;
    margin: 0;
    align-items: center;
    white-space: nowrap;

    @include media(lg) {
        gap: 70px;
    }

    @include media(md) {
        gap: 50px;
    }

    @include media(sm) {
        background-image: linear-gradient(to right, rgba(85, 183, 255, 1), rgba(126, 90, 255, 1));
        position: fixed;
        top: 80px;
        gap: 50px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: 100;
        text-align: center;
        display: block;
        transform: translateX(-100%);
        transition: transform .3s ease-in-out;

        .menu__link::before {
            display: none;
        }

        ._open & {
            transform: translateX(0);
        }
    }

    &__social {
        display: block;
        text-align: center;
    }

    // .menu__items

    .__items {}

    // .menu__item

    &__item {
        position: relative;
        list-style-type: none;

        &:hover .menu__link::before {
            background-color: $color-white;
        }

        @include media(sm) {
            padding: 10px;
            border-bottom: 1px solid $color-white;
        }
    }

    // .menu__link

    &__link {
        text-decoration: none;
        color: $color-white;
        font-family: $font-sub-menu;
        font-size: 14px;

        &::before {
            position: absolute;
            content: '';
            height: 9px;
            width: 9px;
            border-radius: 50%;
            border: 1px solid $color-white;
            border-color: $color-white;
            background-color: transparent;
            padding: 0;
            z-index: 10;
            top: 40%;
            left: -20px;

            @include media(lg) {
                left: -15px;
            }
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

.menu-open-label-center {}

.flex-wrap {
    display: flex;
    justify-content: space-between;
}
