// * {
//     outline: 2px solid red;
// }

.hero {
    height: 100vh;
}

.hero-slider {
    height: 100%;

    // .slider__block

    &__block {
        position: relative;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        &:nth-child(n+2) {
            display: none;
        }

        .slick-initialized & {
            &:nth-child(n+2) {
                display: block;
            }
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-image: linear-gradient(to right, rgba(85, 183, 255, 0.7), rgba(126, 90, 255, 0.7));
            z-index: 2;
        }
    }

    // .slider__img

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
        object-position: center;
        width: 100%;
        z-index: 1;
        height: 100%;
    }

    &__container {
        position: relative;
        z-index: 10;
    }

    // .hero-slider__title

    &__title {
        text-align: center;
        white-space: nowrap;
        color: $header-title;
        font-size: 80px;
        font-weight: 700;
        letter-spacing: 8px;
        margin: 0 0 20px;
    }

    // .hero-slider__sub-text

    &__sub-text {
        text-align: center;
        color: $header-title;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 5.4px;
        text-transform: uppercase;
    }

    // .hero-slider__sub-title

    &__sub-title {
        text-align: center;
        // white-space: nowrap;
        color: $header-title;
        font-size: 80px;
        font-weight: 700;
        letter-spacing: 8px;
        margin: 0 0 20px;
        text-transform: uppercase;
    }
}

.anchor-down-click {
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, -50%);


    @include media(sm) {
        bottom: 0;
    }
}

.icon-img {
    fill: aqua;
}

/* Слайдер */
.slick-slider {}

/* Слайдер запущен */
.slick-slider.slick-initialized {}

/* Слайдер с точками */
.slick-slider.slick-dotted {}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
// .slider .slick-track {
//     display: block;

//     // @include media(md) {
//     //     display: flex;
//     // }
// }

/* Слайд */
.slick-slide {}

/* Слайд активный (показывается) */
.slick-slide.slick-active {}

/* Слайд основной */
.slick-slide.slick-current {}

/* Слайд по центру */
.slick-slide.slick-center {}

/* Клонированный слайд */
.slick-slide.slick-cloned {}

/* Стрелка */
// .slider .slick-arrow {
//     position: absolute;
//     width: 100%;
//     z-index: 10;
// }

/* Стрелка влево */
// .slider .slick-arrow.slick-prev {
//     top: 0;
// }

/* Стрелка вправо */
// .slider .slick-arrow.slick-next {
//     bottom: 0;
// }

/* Стрелка не активная */
.slick-arrow.slick-disabled {}

/* Точки (булиты) */
.hero-slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 40px;
    top: 50%;
    bottom: 50%;
}

/* Список точок */
.hero-slider .slick-dots li {
    list-style: none;
    margin: 10px 0;

    @include media(sm) {
        margin: 1px 0;
    }
}

/* Елемент точки */
.hero-slider .slick-dots li button {
    font-size: 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid $color-white;
    border-color: $color-white;
    background-color: transparent;
    padding: 0;
}

/* Активна точка */
.hero-slider .slick-dots li.slick-active button {
    background-color: $color-white;
}
