.social {}

.social-icons {
    list-style: none;
    display: flex;
    gap: $social-gap;
    justify-content: flex-end;

    &__left {
        justify-content: flex-end;
    }
}

.social-icon {

    // .social-icon__link

    &__link {}
}

.steps {

    // .steps__icon

    &__icon {}
}

.icon-img {
    height: 40px;
    width: 40px;
}
