// colors
$color-white: #FFF;
$color-night-blue: #2C4058;
$color-black: #000;

$main-color-text: $color-night-blue;
$second-color-text: $color-white;


$img-bg-first: #55B7FF;
$img-bg-second: #7E5AFF;

$default-border: 1px solid $color-night-blue;

// $font-size-small-xxs: 12px;
// $font-size-small: 14px;
// $font-size-h5: 20px;
// $font-size-logo-sub: 22px;
// $font-size-h3: 24px;
// $font-size-h2: 36px;
// $font-size-h1-xxs: 42px;
$font-size-h1: 80px;

$font-weight: 400;
$font-weight-title: 700;

// $line-height: 20px;git stat  
// $line-height-text: 28px;
// $line-height-h: 40px;
// $line-height-title: 52px;

// $letter-spacing-btn: 1.12px;
// $letter-spacing-menu: 1.4px;
// $letter-spacing-text: 1.6px;
// $letter-spacing-h6: 2px;
// $letter-spacing: 2.4px;
// $letter-spacing-holder: 2.8px;
// $letter-spacing-sub-text: 6.82px;

// $text-transform-upper: uppercase;
// $text-transform-capit: capitalize;


//main color for text 
$default-body-color: $color-night-blue;
$default-body-bg-color: $color-white;

// fonts
$fallback: Arial, Helvetica, sans-serif;
$default-font-name: Montserrat;
$main-font: $default-font-name, $fallback;
$default-font-size: 18px;
$default-font-weight: $font-weight;

$font-sub-first: "Open Sans";
$font-sub-menu: "Source Sans 3";
$default-font-sub-font: $font-sub-first, $fallback;
$font-path: './fonts/';
$base-img-path: '../';


// btn
// $btn-height-pr: 20px;
// $btn-height-primary: $btn-height-pr;
// $btn-height-sec: 52px;
// $btn-height-secondary: $btn-height-sec;
$color-btn: transparent;
$default-btn-color: $color-black;

// containers
$container-padding: 15px;
$container-max-width: 1170px;

$gap-cont: 15px;
$gap: 15px;
$defaulp-count-col: 12;

$default-width: 1170px;

//menu_open
// $default-bg-color-menu-open: $color-white;

//header__menu
// $default-bg-color-nav: $accent;

//content
// $background-bg-content: rgba(35, 35, 35, 0.9);

// footer 
// $footer-gap-social-icons: 32px;

//social
$social-gap: 20px;


$breack-points: (
    "lg": 1200px,
    "md": 992px,
    "sm": 768px,
    "xs": 576px,
    "xxs": 480px
);
