.wrapper {
    border: 1px solid $color-gold;
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.wrapper>img {
    max-width: 100%;
    border: 1px solid $color-gold;
    z-index: 1;
}

.wrapper::before,
.wrapper::after {
    position: absolute;
    content: '';
    background-color: $color-white;
}

.wrapper::before {
    top: -1px;
    bottom: -1px;
    left: 25%;
    width: 50%;
    z-index: -1;
}

.wrapper::after {
    top: 25%;
    left: -1px;
    right: -1px;
    height: 50%;
    z-index: -1;
}
