.blog {

    // .blog__article

    &__article {
        &:first-child {
            &.blog-article {
                flex-direction: row;
            }

            .blog-article__image-wrapper {
                width: 40%;
                margin-right: 15px;
            }

            .blog-article__description {
                width: 60%;
            }
        }
    }
}

.blog-article {

    display: flex;
    flex-direction: column;

    // .blog-article__image-wrapper

    &__image-wrapper {
        //height: 350px;
        overflow: hidden;
        padding-top: 66.67%;
        position: relative;
    }

    // .blog-article__img

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: unset;
        min-width: 100%;
        min-height: 100%;
        display: block;
    }

    // .blog-article__description

    &__description {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    // .blog-article__title

    &__title {}

    // .blog-article__text

    &__text {
        flex-grow: 1;
    }

    // .blog-article__btn

    &__btn {
        //margin-top: auto;
        align-self: flex-end;
    }
}
