.header {
    background-image: url(../images/header_bg.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    width: 100dvw;
    height: 100dvh;

    @include media(md) {
        height: 100dvh;
    }

    // .header__title

    &__title {
        text-align: center;
        padding-top: 200px;
    }

    // .header__form

    &__form {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        padding-top: 20px;
        position: relative;

        @include media(md) {
            margin: 0 auto;
        }

        @include media(sm) {
            margin: 0 auto;
        }
    }

    // .header__input

    &__input {
        padding: 14px 16px;
        min-width: 41%;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2.8px;
        color: $dustygrey-color;
        border: none;
        background-color: $white-color;

        &:focus {
            outline: none;
        }

        @include media(md) {
            min-width: 45%;
            font-size: 12px;
            letter-spacing: 1.1px;
        }

        @include media(sm) {
            letter-spacing: 1px;
            font-size: 11px;
        }

        @include media(xs) {
            font-size: 0;
        }
    }

    // .header__button

    & .button {
        @include new-font('Aleo', 14px, 400, normal, 20px, 1.4px);
        text-transform: uppercase;
        display: inline-flex;
        gap: 12px;
        color: $white-color;
        padding: 10px 24px;
        background-color: $dodgerblue-color;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 30%;

        &:hover {
            background-color: $color-azureradiance;
        }

        @include media(md) {
            right: 28%;
            padding: 10px 16px;
        }

        @include media(sm) {
            font-size: 0;
            background-color: transparent;
            padding: 0;
        }

    }

    // .header__svg

    &__svg {
        width: 16px;
        height: 16px;

        @include media(sm) {
            width: 26px;
            height: 26px;
        }

        &_search {
            @include media(sm) {
                fill: $dodgerblue-color;
            }
        }
    }

    // .header__bottom

    &__bottom {
        width: 100%;
        height: 13%;
        box-sizing: border-box;
        background-color: $dodgerblue-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        padding-left: 15px;

        @include media(md) {}
    }
}

.heading {

    // .heading__top

    &__top {
        @include new-font($default-font-name, 48px, 700, normal, 52px);
        text-transform: uppercase;
        color: $white-color;
    }

    // .heading__text

    &__text {
        @include new-font($default-font-name, 22px, 400, normal, 28px, 6.82px);
        margin-top: -25px;
        color: $white-color;
    }

    // .heading__bottom

    &__bottom {
        @include new-font(24px, 700, normal, 28px, 2.4px);
        text-transform: uppercase;
        color: $white-color;
        margin-left: 10px;
    }
}

.scroll {

    // .scroll__down

    &__down {
        padding-top: 130px;
        padding-bottom: 125px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        // .scroll__down_link

        &_link {
            @include new-font(14px, 400, normal, 20px, 2.8px);
            color: $white-color;
            text-decoration: none;
            position: relative;
        }

        &_svg {
            width: 16px;
            height: 16px;
            position: absolute;
            top: 15px;
            left: 40px;
        }
    }
}

.menu {
    list-style-type: none;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-right: 30px;
    position: relative;

    @include media(sm) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 70px;
        margin: 0 auto;
    }

    // .menu__wrapper-item

    &__wrapper-item {

        @include media(sm) {
            position: fixed;
            width: 100%;
            top: 0;
            bottom: 11%;
            left: 100%;
            background-color: $dodgerblue-color;
            transform: translateX(0);
            transition: transform .3s ease-in-out;

            .menu-open-input:checked~& {
                transform: translateX(-100%);
            }
        }
    }

    // .menu__item

    &__item {
        @include media(sm) {
            border-bottom: 1px solid $white-color;
            text-align: center;
            width: 100%;
            padding-bottom: 15px;
        }
    }

    // .menu__link

    &__link {
        @include new-font('Aleo', 14px, 400, normal, 20px, 1.4px);
        text-transform: uppercase;
        color: $white-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        @include media(sm) {
            font-size: 24px;
        }

    }
}


.menu-open-input {
    @include visuality-hidden;
}

.menu-open-label {

    @include media(sm) {
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        border: 1px solid transparent;

        .menu-open-input:checked+& {

            .menu-open-label__line {
                background-color: transparent;


                &::before {
                    top: 0;
                    transform: rotate(45deg);
                }

                &::after {
                    bottom: 0;
                    transform: rotate(-45deg);
                }
            }

        }
    }

    // .menu-open-label__line

    &__line {
        @include media(sm) {
            position: relative;
            display: block;
            width: 80%;
            background-color: $white-color;
            height: 4px;
            border-radius: 4px;
            transition: background-color .3s ease-in-out;

            &::before,
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background-color: $white-color;
                border-radius: inherit;
                position: absolute;
                transition: all .3s ease-in-out;
            }

            &::before {
                top: -15px;
            }

            &::after {
                bottom: -15px;
            }
        }
    }
}
