// @include font-face('open-sans-v35-latin-700', 'Open-sans', 700);
// @include font-face('raleway-v28-latin-500', 500);
// @include font-face('raleway-v28-latin-regular');
// @include font-face('roboto-v30-latin-900', 900);


@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/open-sans-v35-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/raleway-v28-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/raleway-v28-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/roboto-v30-latin-900.woff2') format('woff2');
}


body {
    font-family: $main-font;
    background-color: $default-body-color;
    font-size: $default-font-size;
}

.container {
    padding: $container-padding;
    max-width: $container-max-width;
    margin: 0 auto;

}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 (-$gap);
}

.col-12 {
    max-width: calc(100% / 12* 12);
    width: 100%;
}

.col-6 {
    max-width: calc(100% / 12 * 6);
    width: 100%;
    min-width: 430px;
}
