$color-light-gray-1: #898F8F;
$color-light-gray-2: #CCCCCC;
$color-mid-gray: #666;
$color-black: #333;
$color-gold: #FFCC00;
$default-body-color: #FFF;

// fonts
$default-font-name: 'Roboto';
$fallback: Arial, Helvetica, sans-serif;
$default-font-size: 18px;
$main-font: $default-font-name, $fallback;
$font-path: './fonts/';

$container-padding: 122px 135px;
$container-max-width: 1440px;

$font-path: './fonts/';
$default-width: 1440px;
$gap: 15px;
