$padding-link-menu: 15px;

.menu-wrapper {
    margin: -$gap 0;
    display: flex;
    justify-content: center;

    // .menu-wrapper__item

    &__item {}
}

.menu {
    @extend %ul-not-marker;
    display: flex;

    // .menu__item

    &__item {
        position: relative;

        &:not(:last-child) {
            border-right: $default-border;
        }

        &:hover {
            .menu__link {
                text-decoration: underline;
                background-color: $grey-light;
                color: darkorange;

                &::after {
                    transform: rotate(225deg);
                }
            }

            .menu__submenu {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
                transform: translateY(0);
            }
        }

        &_submenu {
            .menu__link::after {
                content: '';
                width: 10px;
                height: 10px;
                display: inline-block;
                margin-left: 10px;
                transform: rotate(45deg);
                border-bottom: 1px solid black;
                border-right: 1px solid black;
                transition: transform .3s ease-in-out;
            }
        }
    }

    // .menu__link

    &__link {
        display: inline-block;
        padding: $padding-link-menu;
        text-decoration: none;
        transition: background-color .3s ease-in-out, color .3s ease-in-out .3s;
    }

    &__submenu {
        position: absolute;
        left: -1px;
        right: -1px;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-20px);
        transition: all .3s ease-in-out;
    }


}

.submenu {
    @extend %ul-not-marker;
    border-right: $default-border;
    border-left: $default-border;

    // .submenu__item

    &__item {
        text-align: center;
        border-bottom: $default-border;

        &:hover {
            .submenu__link {
                background-color: $grey-light;

                &::after {
                    transform: rotate(315deg);
                }
            }

            .subsubmenu__right {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
                transform: translateX(100%);
            }

        }

        &_subsubmenu {
            .submenu__link::after {
                content: '';
                width: 10px;
                height: 10px;
                display: inline-block;
                margin-left: 10px;
                transform: rotate(135deg);
                border-bottom: 1px solid black;
                border-right: 1px solid black;
                transition: transform .3s ease-in-out;
            }
        }
    }

    // .submenu__link

    &__link {
        text-decoration: none;
        display: block;
        padding: $padding-link-menu;
    }
}

.subsubmenu {
    @extend %ul-not-marker;
    border-right: $default-border;
    border-left: $default-border;

    &__item {
        text-align: center;
        border-bottom: $default-border;

        &:hover {
            .subsubmenu__link {
                background-color: $periwinkle-gray;

                &::after {
                    transform: rotate(135deg);
                }
            }

            .subsubmenu__left {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
                transform: translateX(-100%);
            }
        }

        &_dropmenu {
            .subsubmenu__link::after {
                content: '';
                width: 10px;
                height: 10px;
                display: inline-block;
                margin-left: 10px;
                transform: rotate(315deg);
                border-bottom: 1px solid black;
                border-right: 1px solid black;
                transition: transform .3s ease-in-out;
            }
        }
    }

    .top_link {
        border-top: $default-border;
    }

    // .subsubmenu__link

    &__link {
        text-decoration: none;
        display: block;
        padding: $padding-link-menu;
    }

    &__right {
        position: absolute;
        left: -1px;
        right: -1px;
        margin-top: -51px;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transform: translateX(0);
        transition: all .3s ease-in-out;
    }

    &__left {
        position: absolute;
        left: -1px;
        right: -1px;
        margin-top: -52px;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transform: translateX(0);
        transition: all .3s ease-in-out;
    }
}

.dropmenu {

    // .dropmenu__link

    &__link {
        text-decoration: none;
        display: block;
        padding: $padding-link-menu;

        &:hover {
            background-color: $periwinkle-gray;
        }
    }
}
