.marketers {
    margin-bottom: 100px;

    .row {
        gap: 189px;
    }

    &__overtext {
        @extend .design__overtext;
    }

    &__items {
        @extend .design__items;

        &__list>p:first-child {
            font-weight: 700;
            padding-bottom: 10px;
        }
    }
}
